body, html{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.headSection{
    background-color: white;
    width: 100%;
    height: 50;
    display: flex;
    /* position: fixed; */
    padding-top: 15px;
}
/* mouse hovers over the menu*/
.headSection a:hover{
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    padding: 15px; 
}
.headSection a{
    text-decoration: none;
    color: olive;
    padding-left: 50px;
    font-size: 25px;
}
.bodySection{
    background-color:darkgray;
    width: 100%; 
    height:201px 800px;
    color: olive;
}

.container{
    width: 1000px;
    margin: auto;
    overflow: hidden;
}

.paragraph {
    font-size: 24px;
    padding: 20px;
}

.topHead{
    padding: 20px;
}
/*styling the footer section*/
.footerSection{
    background-color:gray;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    color:olive;
    padding-left: 80px;
    border-bottom: 2px grey solid;
}
.footerSection .call{
    width: 25%;    
    display: flex;
}
.footerSection .call .footerImage img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.footerSection .email{
    width: 25%;    
    display: flex;
}
.footerSection .email img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;;
}
.footerSection .followMe{
    width: 25%;   
    display: flex; 
}
.footerSection .followMe .footerImage img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;;
}
.footerSection .followMe .followMeContent .socialIcons img{
    width: 20px;
    height: 20px;
    border-radius: none;
}
.footerSection .copyright{
    width: 25%;   
    display: flex; 
}
.footerSection .copyright img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;;
}
img{
    padding-right: 20px;
}