* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  .up{
      float: left;
  }
  .main{
    color: white;
    font-size: 20px;
    padding: 20px;
    width: 700px;
    margin-left: 100px;
  }
  p{
    padding: 5px;
  }
  fieldset{
    margin-left: 150px;
    border: none;
  }

  h1{
    margin-top: 50px;
  }
  body{
    background-color: rgb(238,238,238);
    scroll-behavior: smooth;
    font-size: 16px;
    color: #0a0a0a;
    font-family: 'Roboto', sans-serif;
  }

  .bodySection{
    width: 100%;
    height: 700px;
    display: flex;
}
.bodySection .myPhoto{
    height: 100%;
    width: 15%;
    padding: 50px;
}
.bodySection .myPhoto img{
    border-radius: 50%;
    height: 440px;
    width: 440px;
    padding-top: 30px;
    margin-left: 5px;
}
.bodySection .aboutMe{
    height: 200px;
    width: 85%;
    padding-top: 50px;
    padding-left: 200px;
}

/*body content*/
.experienceSection{
    width: 100%;
    height: 580px;
    display: flex;
}

img{
    padding-right: 20px;
}
  
  ::selection{
    background: #E8C0
  }
  
  
  .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  hr{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: 0;
    border-top: 1px solid #bebebe;
  }
.links{
  margin-left: 900px;
} 

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    padding: 5px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    box-shadow: 0px 1px 3px #060606;
  }
  
  header, footer{
    background-color: #163a1d;
  }
  
  #nav-bar a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding-left: 80px;
  }
 
  #nav-bar a:hover{
    color: ghostwhite;
    background-color: #163a;
    padding: 15px;
    border-radius: 8px;
  }
  
  @media (min-width: 700px){
  
    header{
      padding-right: 1em;
      padding-left: 1em;
    }
  
    #nav-bar a{
      font-size: 20px;
      text-decoration: none;
      margin-right: 0.5em;
      color: white;
    }
  
  
  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: 30em;*/
    height: 100vh;
    background-image: url('https://i.ibb.co/WVyfKzF/programming.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .polarize{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.78);
  }
  
  h1{
    font-size: 4em;
    font-family: 'Muli', sans-serif;
    color: #ffffff;
    text-shadow: 0px 1px 2px black;
    text-align: center;
  }
  
  h2{
    text-align: center;
    color: #ffffff;
    font-weight: normal;
  }
  
  h3{
    text-align: center;
    margin-bottom: 3em;
    font-size: 1.2em;
  }