* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  .up{
      float: left;
  }
  
  body{
    background-color: rgb(238,238,238);
    scroll-behavior: smooth;
    font-size: 16px;
    color: #0a0a0a;
  }

fieldset{
  box-shadow: 2px 1px 5px 2px white;
  border: none;
  border-radius: 8px;
  padding: 30px;
  margin-top: 50px;
}
.inn1{
  padding: 5px;
  border-radius: 5px;
  color: white;
}
  ::selection{
    background: #E8C0
  }
  
  
  .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.links{
  margin-left: 900px;
} 

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    padding: 5px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    box-shadow: 0px 1px 3px #060606;
  } h3{
    text-align: center;
    margin-bottom: 3em;
    font-size: 1.2em;
  }
  
  header, footer{
    background-color: #163a1d;
  }
  
  #nav-bar a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding-left: 80px;
  }
 
  #nav-bar a:hover{
    color: ghostwhite;
    background-color: #163a;
    padding: 15px;
    border-radius: 8px;
  }
  
  @media (min-width: 700px){
  
    header{
      padding-right: 1em;
      padding-left: 1em;
    }
  
    #nav-bar a{
      font-size: 20px;
      text-decoration: none;
      margin-right: 0.5em;
      color: white;
    }
  
  
  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: 30em;*/
    height: 100vh;
    background-image: url('https://i.ibb.co/WVyfKzF/programming.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .polarize{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.78);
  }
  
  h1{
    font-size: 4em;
    font-family: 'Muli', sans-serif;
    color: #ffffff;
    text-shadow: 0px 1px 2px black;
    text-align: center;
  }
  
  h2{
    text-align: center;
    color: #ffffff;
    font-weight: normal;
  }
