body, html{
    padding: 0px;
    margin: 0px;
}
.headSection{
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    width: 100%;
    padding-top: 15px;
}

/* mouse hovers effects over the menu*/
.headSection a:hover{
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    padding: 15px; 
}
.headSection a{
    text-decoration: none;
    color: olive;
    padding-left: 50px;
    font-size: 25px;
}
.bodySection{
    background-color:darkgray;
    width: 100%;
    height: 582px;
    display: flex;
}


.about-me {background-color: #F2F2F2;overflow: hidden;}
.about-me .image {width: 40%;}
.about-me .image img {width: 100%;}
.about-me .image img:hover {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}
.about-me .info {width: 60%;}
.about-me .info h2 {margin: 35px 0 20px 50px;}
.about-me .info > p {margin: 0px 0px 10px 50px;}
.about-me .info p {
	margin: 0px 0px 0px 5px;
	line-height: 1.6;
	color: #666;
}
.about-me .info .Hobbies {
	overflow: hidden;
	margin: 25px 0 0 50px;
}
.about-me .info .Hobbies > div {width: 50%;min-height: 100px;}

.about-me .info .Hobbies > div  h3 {color: #E84C3D	;}

/*End About Me*/

/*Start My Skills*/

.my-skills {
	padding-top:30px;
	padding-bottom:50px;  
	overflow: hidden;
}
.my-skills .skills ,
.my-skills .progress{width: 50%;}
.my-skills .skills h2 {
	margin: 35px 0 20px 50px;
	color: #E84C3D
}
.my-skills .skills p {
	margin: 0px 0px 10px 40px;
	line-height: 1.6;
	color: #666;
}
.my-skills .skills p:last-of-typ {margin-top:30px;}
.my-skills .skills button {
	background:none;
	border:2px solid #E84C3D; 
	padding: 10px 30px;
	color: #E84C3D;
	margin-left:40px; 
	font-weight: bold;
	margin-top: 10px;
    -webkit-transition: margin 1s ease;
    -moz-transition: margin 1s ease;
    -o-transition: margin 1s ease;
    -ms-transition: margin 1s ease;
    transition: margin 1s ease;	
}
.my-skills .skills button:hover {
	color: #FFF;
	background:#E84C3D;
	cursor: pointer;
	margin-left: -1px;	
}
.my-skills .progress .tec{margin-left: 50px}

.my-skills .progress .tec h3 {color: #E84C3D;	}
.my-skills .progress .tec div {
	background-color: #DDD;
	height: 8px;
	
}
.my-skills .progress .tec div span {
	background-color: #E84C3D;
	height:8px;
	display: block;
	line-height:25px;
	text-align: right;

}



/*styling the footer section*/
.footerSection{
    background-color:gray;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    color: white;
    padding-left: 80px;
}
.footerSection .call{
    width: 25%;    
    display: flex;
}
.footerSection .call .footerImage img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.footerSection .email{
    width: 25%;    
    display: flex;
}
.footerSection .email img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;;
}
.footerSection .followMe{
    width: 25%;   
    display: flex; 
}
.footerSection .followMe .footerImage img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;;
}
.footerSection .followMe .followMeContent .socialIcons img{
    width: 20px;
    height: 20px;
    border-radius: none;
}
.footerSection .copyright{
    width: 25%;   
    display: flex; 
}
.footerSection .copyright img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;;
}
img{
    padding-right: 20px;
}