body{
  background-color: darkgoldenrod;
  font-family: 'Courier New', Courier, monospace;
  font-style: unset;
  font-size: 20px;
  color: olivedrab;
}

html { 
    box-sizing: border-box;
    background-color: lightslategray;

  }

    
  *, *:before, *:after {
    box-sizing: inherit;
  }



  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }


  .card {
    box-shadow: 0 4px 8px 0 black;
    background-color: white;
    border-radius: 30px;
  }

  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
img{
    border-radius: 50%;
    transform: rotateY(180deg);
    
    
    
}
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: lightslategray;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
  }

  .title {
    color: grey;
  }

  .button:hover {
    background-color:goldenrod;
    color: rgb(138, 53, 98);
  }

  a{
      text-decoration: none;
      color: white;
  }


h2{
  color: gold;
}