<<<<<<< HEAD
<<<<<<< HEAD
.service-icon {
  background-color: $white;
  color: $primary;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
=======
=======
>>>>>>> 4b5d27f741c391f76eb7a794c2fb5c1f0ad9754e
.service-icon {
  background-color: $white;
  color: $primary;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
<<<<<<< HEAD
>>>>>>> 4b5d27f741c391f76eb7a794c2fb5c1f0ad9754e
=======
>>>>>>> 4b5d27f741c391f76eb7a794c2fb5c1f0ad9754e
