<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../css/main.css" />
    <title>About Me</title>
  </head>

  <body>
    <!-- The header section for the page -->
    <header>
      <div
        style="float: right; margin-right: 80px; margin-top: 30px; color: #eece1a; font-size: 18px; font-weight: bold;"
      >
        Menu
      </div>
      <!-- The three menu bars -->
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <!-- Transition menu links -->
      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item">
            <a href="../index.html" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item current">
            <a href="./about.html" class="nav-link">
              About Me
            </a>
          </li>
          <li class="nav-item">
            <a href="./work.html" class="nav-link">
              My Work
            </a>
          </li>
          <li class="nav-item">
            <a href="./gallery.html" class="nav-link">
              Gallery
            </a>
          </li>
          <li class="nav-item">
            <a href="./contact.html" class="nav-link">
              Contact Me
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- The about me page -->
    <main id="about">
      <h1 class="lg-heading">
        About
        <span class="text-secondary">Me</span>
      </h1>
      <h2 class="sm-heading">
        Let me tell you a few things...
      </h2>
      <div class="about-info">
        <img
          src="../img/p1.jpg"
          alt="Oketayot Julius Peter"
          class="bio-image"
        />

        <div class="bio">
          <h3 class="text-secondary">BIO</h3>
          <p>
            I am called Oketayot Julius Peter, I graduated from Kyambogo
            University in 2018 with a Bachelor of Science in Chemical
            Engineering. But I was inspired by my friend Oketa Fred who is a web
            developers to join the industry of developing web-based softwares.
            Now I am a senior web developer in JavaScript and Python.
          </p>
        </div>

        <!-- The current jobs I am offering -->
        <div class="job job-1">
          <h3>Back End Developer</h3>
          <p>
            I am a professional back end developer specializing in NodeJS,
            Python and other back end techonolgies. I design fully functioning
            web applications for institutions like finance, schools, hospitals,
            marketing, sports etc.
          </p>
        </div>

        <div class="job job-2">
          <h3>Front End Developer</h3>
          <p>
            I am a professional front end developer specializing in JavaScript,
            HTML, CSS, Materialize, Bootstrap, front end frameworks etc. I
            design fully functioning front end web applications for business and
            marketing, schools, hospitals etc.
          </p>
        </div>

        <div class="job job-3">
          <h3>Graphic Designer</h3>
          <p>
            I am a professional Graphic Designer specializing in various
            technologies which bring about high quality and performing
            applications which provide beauty and consistency.
          </p>
        </div>
      </div>
    </main>

    <!-- the footer of the page -->
    <footer id="main-footer">
      Julius Peter Oketayot | Copyright &copy; 2019
    </footer>
    <!-- Link to the JavaScript file -->
    <script src="../js/main.js"></script>
  </body>
</html>
