
img {
    max-width: 100%;
    max-height: 20cm;
    height: auto;
    -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  opacity: 0.9;
  transform: rotate(0deg);
  border-style: dashed;
  box-shadow: #008CBA;

  }

  .center {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color:rgb(115, 185, 247);
    font-size: 400%;

    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }

  .main-body {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: hidden;
    border-color: black;
  
    background-image: url("me1.jpg");
    background-repeat: no-repeat;
    height: 100%; 
   background-size: cover;
    /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  }

  /* .overlay {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 50%;
  }
   */
  .container{
border-width: 10cm;
  }
  .text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: nowrap; 
    color: rgb(30, 27, 245);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

 