html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top_header{
    background: darkblue;
    padding: 10px;
    height: 50px;
    color: white;
    font-family:calibri light;
    font-size: 25px;
   
}
.picture_container{
  
    height: 15%;
    padding: 5px;
}
.picture_container img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 90px;
    left: 490px;
    border: 5px solid white;

}
#name{
    font-size: 25px;
    font-weight: 500;
}
.name_location_container{
    text-align: center;
}
.name_location_container table{
    margin-left: 500px;
}
th, td{
    padding: 5px;
    text-align:left;
    
}
.student-description li{
    list-style: none;
    padding: 5px;
}
.online{
   border: hidden;
    width: 4px;
    height: 7px;
    background:transparent;
    color: green;
    font-size: 30px;
}
svg{
    fill:darkblue;
    width: 30px;
    height: 30px;
}
.icon_container{
    border-radius: 100%;
    padding: 3px;
    width: 50px;
    height: 50px;
    border: 0px;
    background: rgb(247, 247, 247);
   
}
.section_2{
   text-align: center;
}
#skills_container{
    margin-left: 500px;
}
#heading_container{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}
.projects_container{
    display: -webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack: center;
}
.navigation{
    text-align: center;
}
.projects_container div{
    width: 300px;
    margin: 5px;

}
.projects_container img{
    width: 300px;
    height: 150px;
}
.navigation li{
display: inline-block;
list-style: none;
margin: 5px;

}
.navigation a{
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}