<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- Link for the fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <script src="../js/main.js"></script>
    <title>Norad ALC Cohort 1 Portfolio</title>
    <style></style>
  </head>
  <body>
    <div class="top-contents">
      <!-- Navigation bar -->
      <div class="nav-bar">
        <div class="profile">Norad ALC Cohort 1</div>
        <div class="menu-bar">
          <a href="../index.html">Home</a>
          <a href="./about.html">About Us</a>
          <a href="./project.html">Projects</a>
          <a href="./gallery.html">Gallery</a>
          <a href="./contact.html">Contact Us</a>
          <a href="../index.html#partners">Partners</a>
        </div>
      </div>
    </div>
    <!-- Showcase  the about us -->
    <div class="showcase">
      <h1 style="text-align: center">About Norad ALC Cohort 1</h1>
      Lift256 Tech academy is Uganda’s new Tech academy that is offering an
      Accelerated Learning Certificate (ALC) in Software Development. Lift256
      Tech Academy is a collaboration between Clarke International University,
      Laboremus Uganda and Fontes Foundation. The collaboration is supported by
      Norwegian Agency for Development Cooperation (NORAD). Microsoft App
      Factory Program provides technical support. The ALC program is an
      initiative aimed at equipping Ugandan graduates with world-class skills in
      software development. Running in a rigorous boot camp format, the program
      will be delivered over a period of 12 Weeks, Full-Time, offering both
      non-technical and technical skilling that will influence three core
      spheres namely; Mindset, Skill set and Tool set. The ALC program has
      evolved from 3 years of re-engineering the Applied ICTs and Leadership
      (PostCert.AIL) Program, an initiative that was championed by Clarke
      International University, CM 2000, YWAM and supported by the Microsoft
      Apps Factory. The program was geared towards bridging the digital divide
      within the different sectors such as; Agriculture, Health, Education,
      Military etc. in Uganda and the region at large. Our conviction has always
      been that ICT integration should be a minimum requirement in the different
      service verticals across the world. The ICT sector in Uganda is growing
      and as such the desire for the qualified workforce is bigger than ever
      before.

      <p>
        Information and Communication Technology (ICT) is increasingly having a
        pervasive role and presence in the various systems as it continues to
        shape all aspects of our lives. Numerous reform projects have been in
        place aiming to infuse ICT across various systems; education, health,
        agriculture etc. For instance; teachers are widely believed to be the
        key agents of any educational change! Accordingly, the Jordanian
        Ministry of Education adopted several ICT training courses aiming to
        prepare teachers to integrate ICT effectively across the curriculum.
        According to Uganda Communications Communication statistics, over 60% of
        Ugandans have access to mobile phones, with an estimate of 11 million
        internet users. Ugandans are beginning to discover and learn that there
        are more uses of the phone than basic call and messaging functions. The
        demand for relevant applications is growing by the day from both the
        individuals and organizations. In addition, the environment is right and
        it’s time to become relevant in this part of the world. The Ugandan
        government is committed to a number of ICT-related initiatives in the
        areas of e-Infrastructure, e-Government, Technology-enhanced Learning,
        eHealth, e-Commerce, ICT for Rural Development and Entrepreneurship.
        Although the implementation of these initiatives is primarily the role
        of government ministries, departments and agencies, district and local
        authorities, development partners and non-governmental organizations
        (NGOs), investment from the private sector and the building of ICT human
        resource capacity is important to ensuring their long term
        sustainability. However, a recent newspaper article in New Vision
        reported that only 37% of graduates were “fit” for the job (source: East
        African, May 2014).
      </p>
    </div>
    <!-- Footer section -->
    <footer>
      <div>
        <p>Stay connected with us</p>
        <a href="#!">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
      <p>&copy; Copyright | Norad ALC Cohort 1 2019</p>
      <!-- Navigation links at the footer -->
      <div>
        <span>Navigate</span>
        <a href="../index.html">Home</a>
        <a href="./about.html">About Us</a>
        <a href="./project.html">Projects</a>
        <a href="./gallery.html">Gallery</a>
        <a href="./contact.html">Contact Us</a>
        <a href="../index.html#partners">Partners</a>
      </div>
    </footer>
  </body>
</html>
