<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <script src="../js/main.js"></script>
    <title>Norad ALC Cohort 1 Portfolio</title>
    <style></style>
  </head>
  <body>
    <div class="top-contents">
      <!-- Navigation bar -->
      <div class="nav-bar">
        <div class="profile">Norad ALC Cohort 1</div>
        <div class="menu-bar">
          <a href="../index.html">Home</a>
          <a href="./about.html">About Us</a>
          <a href="./project.html">Projects</a>
          <a href="./gallery.html">Gallery</a>
          <a href="./contact.html">Contact Us</a>
        </div>
      </div>
    </div>
    <!-- Showcase section showing the moving background -->
    <div class="showcase">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi tempora
      labore culpa modi itaque rem nostrum quam. Minima molestiae quo illum
      maxime, praesentium sed facere ab possimus, accusantium id eligendi fuga
      aperiam dolor alias officia nobis voluptatum voluptatibus adipisci ex
      mollitia odio a. Laboriosam, velit sequi fuga beatae veniam ipsum neque
      nam doloremque tenetur nostrum, accusantium optio nemo accusamus explicabo
      unde ratione fugit? Eveniet saepe, fuga, molestias, excepturi nemo
      aspernatur suscipit totam omnis aut praesentium ab temporibus laboriosam
      dolor quo architecto alias. Et distinctio eveniet quam impedit fuga rerum,
      est dicta aliquid unde repudiandae esse culpa porro numquam blanditiis id
      obcaecati maiores sit necessitatibus beatae voluptatum ratione atque
      laborum sed. Dicta distinctio dolorum illum quibusdam aliquam illo sed
      esse inventore ex veritatis eligendi, blanditiis rerum repellat quas
      itaque suscipit recusandae. Velit minus excepturi cumque aperiam.
      Deserunt, tempore. Magnam voluptatibus incidunt vel? Optio maxime ratione
      eius culpa doloribus consequatur quisquam totam voluptate at explicabo
      nulla, quidem delectus excepturi nesciunt molestiae reiciendis eveniet
      autem sint mollitia eum accusantium necessitatibus eligendi enim sapiente.
      Dolorum quos at eveniet iure. Eveniet laudantium consequatur praesentium
      quas ad ducimus quaerat veritatis quam eius necessitatibus cupiditate,
      perferendis magni exercitationem ex aliquam. Incidunt iure esse illum
      beatae, illo vitae. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Amet odit et, at saepe repudiandae laborum ipsam ab quis impedit
      mollitia voluptatum obcaecati incidunt, dolore hic cupiditate laudantium
      illum magni cum quibusdam excepturi? Nostrum optio, voluptatem, quidem
      minima eum odio, sunt culpa iure ullam quae officia. Est sequi vitae
      placeat tempore sapiente quia labore ipsam maiores deserunt quidem, rem
      voluptates non explicabo possimus a similique! Asperiores, fuga excepturi
      placeat ducimus maxime id! Ad recusandae officia facilis possimus maxime
      vitae adipisci delectus molestias fuga pariatur ratione odio, velit
      perferendis accusamus! Cum sapiente quaerat obcaecati sit expedita enim
      hic voluptates aliquam numquam labore, et eligendi possimus ut quidem
      molestiae itaque ullam neque aut tenetur magni saepe minus autem aliquid.
      Quis necessitatibus possimus debitis, earum magni nihil iure a vel cumque
      distinctio, suscipit qui ratione impedit dignissimos nesciunt nisi
      deleniti eos. Aliquid odit non officia magnam voluptate ab rerum itaque
      ut? Amet similique harum quidem odio voluptas! Aliquid consequatur
      voluptas, laborum odio, ut quia eum temporibus molestias nostrum vel
      cumque commodi tempore nisi quis dolorum quibusdam corporis eveniet
      adipisci officia. Natus non facilis pariatur iste architecto cum saepe
      mollitia, eveniet ut quae iusto at aspernatur odit quod deleniti, commodi
      impedit? Minus quis perferendis incidunt omnis eaque. Officiis, ea porro
      rerum incidunt beatae quidem. Commodi laborum ex adipisci voluptates, ipsa
      sed? Laborum officia similique fuga veritatis. Atque deserunt recusandae
      harum sapiente repudiandae consequuntur? Excepturi quidem perspiciatis et
      ex totam impedit facere odit voluptatibus commodi assumenda sed eum animi,
      incidunt nisi veniam consectetur quis enim laborum inventore numquam
      voluptas atque aliquid asperiores fugit. Nobis voluptates adipisci magni
      aliquam distinctio, ex sit quam repudiandae sapiente. Mollitia illo, ullam
      eum accusamus dolores, deserunt voluptatem voluptas cum tempore in sint
      ratione aspernatur alias praesentium quisquam aperiam nam perspiciatis,
      accusantium dicta laboriosam. Dolores nihil, ex dicta distinctio
      architecto explicabo quos. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Odit delectus explicabo officia rem fuga magnam fugit
      eius mollitia, impedit eveniet eum commodi similique at non, sequi
      inventore iusto, labore veniam ullam expedita repudiandae. Numquam
      adipisci ducimus debitis! Officiis facere iste, iusto molestias nulla
      laudantium aut unde quisquam quo maiores exercitationem laborum, non
      officia in veritatis architecto animi. Quia in odit voluptas distinctio
      numquam iure, expedita autem ex quo tenetur alias exercitationem possimus
      eos asperiores voluptates ab corrupti modi facere voluptatem, blanditiis
      pariatur perspiciatis cumque vitae! Sapiente ut aliquid quae voluptate,
      aperiam nulla! Recusandae hic nesciunt molestiae incidunt enim. Provident
      ipsum inventore porro quo quisquam magni asperiores, molestiae esse quidem
      laudantium nam eveniet corporis iste, at possimus quod culpa beatae dicta
      odit reprehenderit expedita natus suscipit? Voluptates cum ea magni? Culpa
      aperiam dolor, adipisci, voluptate in molestiae delectus labore iusto
      aspernatur quod ducimus sequi, ipsa maiores corporis nobis quibusdam
      eligendi sed suscipit eveniet dicta distinctio error. Itaque natus nobis
      voluptas, sed neque cum eaque numquam quas, labore nesciunt, cupiditate
      laborum doloremque voluptatum harum quisquam adipisci? Accusantium, quia.
      Aliquid magni debitis eius, quis unde animi earum odio ut amet
      perspiciatis, non maxime ea exercitationem officiis. Earum in dolorum nam
      id nihil molestias? Harum laudantium id, excepturi veniam deleniti maiores
      facere vitae eveniet quas, deserunt modi voluptates obcaecati accusamus
      aut in! Ex, dolore odit velit ullam, molestias dolores libero saepe esse
      nihil veritatis qui nulla odio facere provident eveniet nostrum explicabo
      maxime? Officiis magnam natus at fuga? Quasi assumenda nisi eligendi
      voluptatibus voluptatem inventore? Molestias obcaecati eligendi
      necessitatibus deleniti quod illo ullam consequatur mollitia dignissimos
      tempore voluptas velit modi assumenda corporis dolor, eveniet veritatis
      esse, quas tempora nesciunt facilis ipsa laboriosam. Aut, soluta at?
      Reiciendis exercitationem rerum doloribus quidem quisquam, possimus,
      blanditiis ea quos error tempora nostrum officia neque molestiae assumenda
      repellendus sint.
    </div>
    <!-- Footer section -->
    <footer>
      <div>
        <p>Our Partners</p>
        <a href="#"><img src="../images/Norad_logo.png" alt="Norad logo"/></a>
        <a href="#"><img src="../images/ciu_logo.png" alt="CIU logo"/></a>
        <a href="#"><img src="../images/fontes_logo.jpg" alt="Fontes logo"/></a>
        <a href="#"
          ><img src="../images/laboremus_logo.png" alt="Laboremus logo"
        /></a>
        <a href="#"
          ><img src="../images/miscrosoft_logo.png" alt="Microsoft logo"
        /></a>
      </div>
      <div>
        <p>Stay connected with us</p>
        <a href="#!">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
      <p>&copy; Copyright | Norad ALC Cohort 1 2019</p>
      <div>
        <span>Navigate</span>
        <a href="../index.html">Home</a>
        <a href="./about.html">About Us</a>
        <a href="./project.html">Projects</a>
        <a href="./gallery.html">Gallery</a>
        <a href="./contact.html">Contact Us</a>
      </div>
    </footer>
  </body>
</html>
