<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Link to the fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Contact Me</title>
  </head>

  <body>
    <!-- The header section of the contact me page -->
    <header>
      <!-- Three bars for the transition menu -->
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <!-- The menu bar -->
      <nav class="menu">
        <!-- Branding for the profile photo -->
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <!-- the navigation links for the home, about me, work and contact me -->
        <ul class="menu-nav">
          <li class="nav-item">
            <a href="../index.html" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="./about.html" class="nav-link">
              About Me
            </a>
          </li>
          <li class="nav-item">
            <a href="./work.html" class="nav-link">
              My Work
            </a>
          </li>
          <li class="nav-item current">
            <a href="./contact.html" class="nav-link">
              Contact Me
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Contact details -->
    <main id="contact">
      <h1 class="lg-heading">
        Contact
        <span class="text-secondary">Me</span>
      </h1>
      <h2 class="sm-heading">
        This is how you can reach me...
      </h2>
      <!-- Contact me details -->
      <div class="boxes">
        <div><span class="text-secondary">Email: </span> jpetexi@gmail.com</div>
        <div><span class="text-secondary">Phone: </span> (+256) 782872856</div>
        <div><span class="text-secondary">Address: </span> Kampala Uganda</div>
      </div>
      <hr />
      <!-- Contact me form -->

      <form action="">
        <input type="email" placeholder="john@gmail.com" />
        <input type="text" placeholder="Your message" />
        <input type="submit" value="Submit" />
      </form>
    </main>

    <!-- the footer of the contact me page -->
    <footer id="main-footer">
      Julius Peter Oketayot | Copyright &copy; 2019
    </footer>
    <!-- Link to the JavaScript files -->
    <script src="../js/main.js"></script>
  </body>
</html>
