<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My projects</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
        <nav class="navigation">
                <ul>
                    <li>
                        <a href="index.html">
                            HOME
                        </a>
                    </li>
                  
                      <li>
                              <a href="profile.html">
                                  ABOUT ME
                              </a>
                          </li>
                          <li>
                                  <a href="gallery.html">
                                      GALLERY
                                  </a>
                              </li>
                              <li>
                                      <a href="#footer">
                                          CONTACT ME
                                      </a>
                                  </li>
                                  <li>
                                    <a href="projects.html">
                                        PROJECTS
                                    </a>
                                </li>
                                <li>
                                  <a href="skills.html">
                                      SKILLS
                                  </a>
                              </li>
                              
                </ul>
            </nav>
    <div id="heading_container">
        <a>Projects i have worked on</a>
    </div>
    <div class="projects_container">
        <div>
            <img src="images/loancalc.png" alt="">
            <p>
                <a href="https://github.com/swimking">
                Loan Calculator
                </a>
            </p>
        </div>
        <div>
                <img src="images/valid.png" alt="">
                <a href="https://github.com/swimking">
                <p>
                    Form validation
                </p>
                </a>
        </div>
        <div>
                <img src="images/prof.png" alt="">
                <p>
                    <a href="https://github.com/swimking">
                   potfolio
                   </a>
                </p>
            
        </div>
    </div>
</body>
</html>