 .manu{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        text-decoration: none;
    }
    .manu ul{
     margin: auto;
     padding: 14px;
     float: left; 
     width: 100%;  
     background: orange;
     
    }
    .manu ul li{
        display: inline;
        
    }

    .manu ul li a {
        
        color: black;
        padding:5px 11px;
        text-decoration: none; 
        
    }
    .manu ul li a:hover, .manu ul li .selected{
        color: blue;
        padding-top: 1px;
        padding-bottom: 5px;
        background-color: orangered;
    }
    .container{ 
      width: 80%;
      height: 100%;
      background-color: aliceblue;
    }
    .table tr,td{
        padding: 50px;
       
    }
    .table {
        width: 100%;
        border-collapse: collapse;
       
        
    }
     #profile {
         width: 240px;
         height: 300px;
         float: left;
     }