
* {
  background-color: lightgray;
  font-family: "ZCOOL KuaiLe", sans-serif;
}
.begin {
  display: flex;
  justify-content: flex-end;
  /* text-decoration-color: black; */
}

.begin div {
  border: 10px black;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  text-decoration: none;
  /* justify-content: space-evenly; */
}
