.container{
    display: flex;
}
.leftSection{
    width: 20%;
    height: 600px;
    background: linear-gradient(to bottom, blue, red);
    position: fixed;
}
.leftSection .photo{
    height: 30%;
    padding-top:50px;
    padding-bottom: 30px;
}
.leftSection .photo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.leftSection .menu{
    border: 1px;
    height: 65%;
    margin: 10px;
}
.leftSection .menu a{
    color: white;
    font-size: 45px;
    display: fixed;
    text-decoration: none;
}
.leftSection .menu a:hover{
    color: black;
    background-color: white;
}
.rightSection{
    width:80%;
    margin-left:270px;    
}
.rightSection .about{
    width: 100%;
    height: 600px;
    text-align: left;
    background-size: 100%;
    background-image: url(../images/backgroundPhoto.png);
}
.rightSection .about .socialMedia img{
    width: 35;
    height: 35px;
    border-radius: 50%;
    padding-top: 135px;
}
.rightSection .about .aboutMe{
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    color: white;
}
.rightSection .about .aboutMe .profile img{
    width: 250px; 
    height: 100px;
}
.rightSection .about .myName{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
}
.rightSection .about .myName .name{
    font-size: 75px;
    color: black;
}
.rightSection .about .myName .nameDescription{
    font-size: 20px;
    color: black;
}
.rightSection .about .myDescription{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 525px;
    font-size: 31px;
}
.rightSection .skills{
    height: 600px;
    background-image: url(../images/skills.jpeg);
    background-size: 100%;
}
.rightSection .skills .skillsHead{
    height: 70px;
}
.rightSection .skills .skillsHead p{
    color: white;
    font-size: 30px;
}
.rightSection .skills .skillsBody{
    height: 350px;
    margin: 45px;
    display: flex;
    padding-top: 10px;
}
.rightSection .skills .skillsBody .htmlSkills{
    height: 75%;
    width: 20%;
    margin: 10px;
    background-color: white;
    opacity: .6;
}
.rightSection .skills .skillsBody .htmlSkills p{
    color: black;
    font-size: 30px;
}
.rightSection .skills .skillsBody .htmlSkills img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.rightSection .skills .skillsBody .cssSkills{
    height: 75%;
    width: 20%;
    margin: 10px;
    background-color: white;
    opacity: .6;
}
.rightSection .skills .skillsBody .cssSkills img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.rightSection .skills .skillsBody .cssSkills p{
    color: black;
    font-size: 30px;
}
.rightSection .skills .skillsBody .jsSkills{
    height: 75%;
    width: 20%;
    margin: 10px;
    background-color: white;
    opacity: .6;
}
.rightSection .skills .skillsBody .jsSkills img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.rightSection .skills .skillsBody .jsSkills p{
    color: black;
    font-size: 30px;
}
.rightSection .experience{
    height: 600px;
    background-color: cadetblue;
    background-size: 100%;
    padding-top: 1px;
}
.rightSection .projects{
    height: 600px;
    background-color: green;
    background-size: 100%;
    padding-top: 1px;
}
.rightSection .gallery{
    height: 600px;
    background-color: aqua;
    background-size: 100%;
    padding-top: 1px;
}
.rightSection .contactMe{
    height: 600px;
    background-color: grey;
    background-size: 100%;
    padding-top: 1px;
    opacity: .9;
}
.rightSection .contactMe .contactHead .red p{
    color: red;
    font-size: 30px;
}
.rightSection .contactMe .contactHead .black p{
    color:black;
    font-size: 18px;
}
.rightSection .contactMe .contactBody{
    display: flex;
    size: 80%;
    padding-left: 100px;
    padding-top: 50px;
}
.rightSection .contactMe .contactBody .left{
    width: 250px;
    padding: 10px;
    padding-top: 350x;
}
.rightSection .contactMe .contactBody .middle{
    width: 300px;
    padding: 10px;
}
.rightSection .contactMe .contactBody .right{
    width: 200px;
    padding: 10px;
}
.contactInput{
    width: 250px;
    height: 20px;
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
}
button{
    background-color: red;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
button:hover{
    background-color: blue;
}
span{
    color: blue;
} 
