.container{
    display: flex;
}
.leftSection{
    width: 20%;
    height: 600px;
    background: linear-gradient(to bottom, blue, red);
    position: fixed;
}
.leftSection .photo{
    height: 30%;
    padding-top:50px;
    padding-bottom: 30px;
}
.leftSection .photo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.leftSection .menu{
    border: 1px;
    height: 65%;
    margin: 10px;
}
.leftSection .menu a{
    color: white;
    font-size: 45px;
    display: fixed;
    text-decoration: none;
    border-radius: 10px;
    border-bottom: 3px solid black ;
}
.leftSection .menu a:hover{
    color:white;
    background-color: blue;
}
.rightSection{
    width:80%;
    margin-left:270px;    
}
.rightSection .about{
    width: 100%;
    height: 568px;
    text-align: left;
    background-size: 100%;
    background-image: url(../Images/backgroundPhoto.png);
}
.rightSection .about .socialMedia{
    padding-left: 15px;
}
.rightSection .about .socialMedia img{
    width: 35;
    height: 35px;
    border-radius: 50%;
    padding-top: 190px;
}
.rightSection .about .aboutMe{
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    color: white;
}
.rightSection .about .aboutMe .profile img{
    width: 250px; 
    height: 100px;
    padding-top: 10px;
}
.rightSection .about .myName{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
}
.rightSection .about .myName .name{
    font-size: 75px;
    color: black;
}
.rightSection .about .myName .nameDescription{
    font-size: 20px;
    color: black;
    padding-top: 10px;
}
.rightSection .about .myDescription{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 525px;
    font-size: 31px;
    padding-top: 95px;
    padding-left: 10px;
}
.rightSection .skills{
    height: 568px;
    background-image: url(../Images/skills.jpeg);
    background-size: 100%;
}
.rightSection .skills .skillsHead{
    height: 70px;
}
.rightSection .skills .skillsHead p{
    color: white;
    font-size: 30px;
}
.rightSection .skills .skillsBody{
    height: 350px;
    margin: 45px;
    display: flex;
    padding-top: 10px;
}
.rightSection .skills .skillsBody .htmlSkills{
    height: 75%;
    width: 20%;
    margin: 10px;
    background-color: white;
    opacity: .6;
}
.rightSection .skills .skillsBody .htmlSkills p{
    color: black;
    font-size: 30px;
}
.rightSection .skills .skillsBody .htmlSkills img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.rightSection .skills .skillsBody .cssSkills{
    height: 75%;
    width: 20%;
    margin: 10px;
    background-color: white;
    opacity: .6;
}
.rightSection .skills .skillsBody .cssSkills img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.rightSection .skills .skillsBody .cssSkills p{
    color: black;
    font-size: 30px;
}
.rightSection .skills .skillsBody .jsSkills{
    height: 75%;
    width: 20%;
    margin: 10px;
    background-color: white;
 
    opacity: .6;
}
.rightSection .skills .skillsBody .jsSkills img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.rightSection .skills .skillsBody .jsSkills p{
    color: black;
    font-size: 30px;
}
.rightSection .experience{
    height: 568px;
    background-color: grey;
    background-size: 100%;
    padding-top: 1px;
}
.rightSection .experience .experienceHeading p{
    font-size: 30px;
    color: white;
}
.rightSection .experience .experienceContent{
    width: 95%;
    display: flex;
    padding-bottom: 5px;
}
.rightSection .experience .ieee{
    height: 50%;
    width: 25%;
    border: 3px solid black;
    background-color: white;
    opacity: .8;
    border-radius: 5px;
}
.rightSection .experience .ieee .ieeeHead{
    display: flex;
}
.rightSection .experience .ieee .ieeeHead p{
    font-size: 20px;
}
.rightSection .experience .ieee .ieeeHead img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 1px solid black;
}
.rightSection .experience .commanet{
    height: 50%;
    width: 35%;
    border: 3px solid red;
    background-color: white;
    opacity: .8;
    border-radius: 5px;
}
.rightSection .experience .commanet .commanetHead{
    display: flex;
}
.rightSection .experience .commanet .commanetHead p{
    font-size: 20px;
}
.rightSection .experience .commanet .commanetHead img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 1px solid red;
}
.rightSection .experience .ciu{
    height: 50%;
    width: 30% ;
    border: 3px solid green;
    background-color: white;
    opacity: .8;
    border-radius: 5px;
}
.rightSection .experience .ciu .ciuHead{
    display: flex;
}
.rightSection .experience .ciu .ciuHead p{
    font-size: 20px;
}
.rightSection .experience .ciu .ciuHead img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 1px solid green;
}
.rightSection .experience .africell{
    height: 50%;
    width: 35%;
    border: 3px solid orange;
    background-color: white;
    opacity: .8;
    border-radius: 5px;
}
.rightSection .experience .africell .africellHead{
    display: flex;
}
.rightSection .experience .africell .africellHead p{
    font-size: 20px;
}
.rightSection .experience .africell .africellHead img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 1px solid orange;
}
.rightSection .experience .telekonet{
    height: 50%;
    width: 40%;
    border: 3px solid blue;
    background-color: white;
    opacity: .8;
    border-radius: 5px;
}
.rightSection .experience .telekonet .telekonetHead{
    display: flex;
}
.rightSection .experience .telekonet .telekonetHead p{
    font-size: 20px;
}
.rightSection .experience .telekonet .telekonetHead img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-left:10px;
    border:1px solid blue;
}
.rightSection .projects{
    height: 568px;
    background-color: green;
    background-size: 100%;
    padding-top: 1px;
}
.rightSection .gallery{
    height: 568px;
    background-image:url(../Images/gallery.jpeg);
    background-size: 100%;
    padding-top: 1px;
}
.rightSection .gallery p{
    font-size: 25px;
    color: white;
}
.rightSection .gallery .galleryContent{
    display: flex;
    width: 100%;
    height: 235px;
}
.rightSection .gallery .galleryContent .photos {
  width: 100%;
  height: 215px;
}
.rightSection .gallery .galleryContent .photos .photosInner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.rightSection .gallery .galleryContent .photos:hover .photosInner {
  transform: rotateY(180deg);
}
.rightSection .gallery .galleryContent .photos .photosFront {
  position: absolute;
  width: 100%;
  height: 100%;
}
.rightSection .gallery .galleryContent .photos .photosFront img{
    width: 100%;
    height: 235px;
}
.rightSection .gallery .galleryContent .photos .photosBack {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
}
.rightSection .contactMe{
    height: 568px;
    background-size: 100%;
    padding-top: 30px;
    background-image: url(../Images/contactMe.jpg);
}
.rightSection .contactMe .contactHead{
    background-color:blue;
    width: 90%;
    border-radius: 5px;
}
.rightSection .contactMe .contactHead .red p{
    color: white;
    font-size:30px;
    padding-top: 20px;
}
.rightSection .contactMe .contactHead .black p{
    color:black;
    font-size: 20px;
    padding-bottom: 60px;
}
.rightSection .contactMe .contactBody{
    display: flex;
    width: 90%;
    height: 90%;
    padding-left: 50px;
}
.rightSection .contactMe .contactBody .left{
    width: 35%;
    padding: 20px;
    background-color: gray;
    border-radius: 5px;
}
.rightSection .contactMe .contactBody .middle{
    width: 35%;
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
}
.rightSection .contactMe .contactBody .right{
    width: 30%;
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
}
.contactInput{
    width: 90%;
    height: 20px;
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
}
button{
    background-color: red;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
button:hover{
    background-color: blue;
}
span{
    color: blue;
} 
.space{
    width: 10px;
}
.date{
    color: blue;
}
.rightSection .footer{
  position: fixed;
  padding-left: 10px;
  bottom: 0;
  width: 1055px;
  height: 35px;;
  background: linear-gradient(to right, red, blue);
  color: white;
  text-align: center;
}
