body{
    font-family: roboto-regular;
}
.panel-body{
    -webkit-box-shadow: 0 3px 2px #777;
	-moz-box-shadow: 0 3px 2px #777;
    box-shadow: 0 3px 2px #777;
    padding: 15px;


}
img{
    width: 100%;
}
.panel-footer{
    padding: 15px;
}

/* styling the nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
