<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.google.com/css? family=ZCOOL KuaiLe:100,300,400,700,900"rel="stylesheet">

    <title>Profile page</title>
<!-- linking index css to index html -->
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="try.css" />
  </head>
  <!--  adding the nav bar  -->
    <div class="wrapper">
      <div class="begin">
        <div class="about">
          <a href="">About</a>
        </div>
<div class="experience">
          <a href="#center1">Experience</a>
        </div>
<div class="gallery">
          <a href="#container5">Gallery</a>
        </div>
 <div class="contact">
          <a href="#contactForm">Contact Me</a>
        </div>
      </div>
    </div>
<!--  adding slogan  -->
<div class="container">
      <div class="passion">
        <h1>Passion.Drive.Resilience</h1>
      </div>
 <!--  adding quote  -->
<div class="passion1">
        <p><b>"With the new day comes new strength and new thoughts."</b></p>
      </div>
 </div>
<!--  adding statement  -->
    <div class="container2">
      <div class="box1">
        <h4>About Me</h4>
        <p>
          <b>
            Highly result oriented in driving strategic growth and product
            visibility. Highly competitive, passionate, persuasive and
            articulate, able to achieve results others believed to be impossible
          </b>
        </p>
      </div>
 <!--  adding personality block  -->
<div class="center">
        <h3 class="person">Traits</h3>
<!--  adding Extraverted  -->
 <div class="skillBox">
          <p>Extraverted</p>
          <p>85%</p>
          <div class="skill">
            <div class="skill_level" style="width:85%"></div>
          </div>
        </div>
  <!--  adding Observant personality  trait -->
<div class="skillBox">
          <p>Observant</p>
          <p>73%</p>
          <div class="skill">
            <div class="skill_level" style="width:78%"></div>
          </div>
        </div>
   <!--  adding Feeling personality  trait -->
 <div class="skillBox">
          <p>Feeling</p>
          <p>78%</p>
          <div class="skill">
            <div class="skill_level" style="width:89%"></div>
          </div>
        </div>
  <!--  adding Judging personality  trait -->
<div class="skillBox">
          <p>Judging</p>
          <p>89%</p>
          <div class="skill">
            <div class="skill_level" style="width:89%"></div>
          </div>
        </div>
  <!--  adding Assertive personality  trait -->
<div class="skillBox">
          <p>Assertive</p>
          <p>94%</p>
          <div class="skill">
            <div class="skill_level" style="width:94%"></div>
          </div>
        </div>
      </div>
<!--  adding  personality  summary -->
<div class="box3">
        <p>
         <b>Christian at heart.A judgmental,assetive Observant person.</b>
        </p>
      </div>
 </div>
      </div>
      <br/>
      <br/>
<!--  adding  gallery block -->
      <div id="container5">
        <h4>Gallery</h4>
          <div class="pic1">
            <img src="hero.jpg " style="width:320px;height:300px;" />
          </div>
          <div class="pic2">
            <img src="hero1.jpg " style="width:320px;height:300px;" />
          </div>
          <div class="pic3">
            <img src="hero3.jpg " style="width:320px;height:300px;" />
          </div>
          <div class="pic3">
            <img src="hero2.jpg " style="width:320px;height:300px;" />
          </div>
        </div>
 <!--  adding  knowledge block -->
  
<div id="center1">
            <h3 class="person1">Skills</h3>
   <!--  adding  skill box Javascript Es6 -->
<div class="skillBox1">
              <p>Javascript Es6</p>
              <p>50%</p>
              <div class="skill1">
                <div class="skill_level1" style="width:50%"></div>
              </div>
            </div>
<!--  adding  skill box CSS3 -->
 <div class="skillBox1">
              <p>CSS3</p>
              <p>60%</p>
              <div class="skill1">
                <div class="skill_level1" style="width:60%"></div>
              </div>
            </div>
  <!--  adding  skill box HTMl5 -->
<div class="skillBox1">
              <p>HTML5</p>
              <p>60%</p>
              <div class="skill1">
                <div class="skill_level1" style="width:60%"></div>
              </div>
            </div>
  <!--  adding  skill box Nodejs -->
<div class="skillBox1">
              <p>NodeJs</p>
              <p>40%</p>
              <div class="skill1">
                <div class="skill_level1" style="width:40%"></div>
              </div>
            </div>
  <!--  adding  skill box python -->
<div class="skillBox1">
              <p>Python</p>
              <p>60%</p>
              <div class="skill1">
                <div class="skill_level1" style="width:60%"></div>
              </div>
            </div>
          </div>
<!--  adding  contact Me Block -->
<div id="container4">
  <footer class="contactMe">
      <div class="mx-1">
        <h3 class="heading">Contact Me</h3>
        <ul class=" contact">
          <li class="fa fa-map-maker">
            <address>Hse 11 Kalema Road Lungujja Rubaga ,256</address>
          </li>
          <li class="fa fa-phone">0772583874</li>
          <li class="fa fa-envelopes-o">kimbugweronnie@gmail.com</li>
        </ul>
      </div>
     
      <div class="mx-3">
        <h3 class="heading my-1 font-x1">Lets Talk</h3>
        <p class="my-1">Send Mail</p>
        <form method="post" action="/sendMe">
          <input type="text" name="name" class="my-1" placeholder="Name" /><br/>
          <input type="email" name="name" class="my-1" placeholder="Email" /><br/>
          <textarea  cols="20"name="message" rows="10" type="text"id="info3"> 

          </textarea>
          <br/>
          <button class="btn">Submit</button>
        </form>
      </div>
    </footer>
         
      
    
             
      
              
          </div>

    </div>
  </body>
</html>

