* {
  background-color: white;
  font-family: "Baloo Bhai", sans-serif;
}

.begin {
  display: flex;
  justify-content: flex-end;
}
.begin a {
  text-decoration: none;
  color: black;
}

.begin div {
  border: 10px black;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  text-decoration: none;
}
.begin a {
  text-decoration: none;
}

.container {
  display: flex;

  align-items: center;
  flex-direction: column;
}

.passion {
  flex: 1;
  order: 1;
}
.passion1 {
  order: 2;
  flex: 1;
}
.passion2 {
  flex: 3;
  order: 3;
}
.button a {
  text-decoration: none;
}
.container3 {
  display: flex;
}
/*..............*/
.center {
  box-sizing: border-box;
  padding: 20px;
}
.person {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.skillBox {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
}
.skillBox p {
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0px;
  font-weight: bold;
}
.skillBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}
.skill {
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 2px;
}
.skill_level {
  background: white;
  width: 100px;
  height: 10px;
}
#container4 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.contact h3 {
  font-size: 32px;
  line-height: 10px;
}
.formControl {
  background: transparent;
  border: none;
}
/*gallery*/
#container5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#container5 div {
  padding: 2px;
  height: 300px;
  width: 320px;
}
#center1 {
  box-sizing: border-box;
  padding: 20px;
}
.person1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.skillBox1 {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
}
.skillBox1 p {
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0px;
  font-weight: bold;
}
.skillBox1 p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}
.skill1 {
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 2px;
}
.skill_level1 {
  background: white;
  width: 100px;
  height: 10px;
}



