body, html{
    padding: 0px;
    margin: 0px;
}
.headSection{
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    width: 100%;
    padding-top: 15px;
}


/* mouse hovers over the menu*/
.headSection a:hover{
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    padding: 15px; 
}
.headSection a{
    text-decoration: none;
    color: olive;
    padding-left: 50px;
    font-size: 25px;
}
.bodySection{
    background-color:darkgray;
    width: 100%;
    height: 580px;
    display: flex;
}
.bodySection .myPhoto{
    height: 100%;
    width: 15%;
    padding: 50px;
}
.bodySection .myPhoto img{
    border-radius: 50%;
    height: 440px;
    width: 440px;
    padding-top: 30px;
}
.bodySection .aboutMe{
    height: 490px;
    width: 85%;
    padding-top: 50px;
    padding-left: 200px;
}
.bodySection .aboutMe .topLinks{
    display: flex;
}
.bodySection .aboutMe .topLinks a{
    color: white;
}
/*mid page links*/
.bodySection .aboutMe .topLinks .skills a{
    background-color:olive;
    border-radius: 50%;
    padding: 50px;
    margin-right: 10px;
    font-size: 30px;
    text-decoration: none;
  
}
.bodySection .aboutMe .topLinks .experience a{
    background-color: olive;
    border-radius: 50%;
    padding: 50px;
    margin-right:10px;
    font-size: 30px;
    text-decoration: none;
}
.bodySection .aboutMe .topLinks .projects a{
    background-color: olive;
    border-radius: 50%;
    padding: 50px;
    margin-right: 10px;
    font-size: 30px;
    text-decoration: none;
}
/*mid page hover effects*/
.bodySection .aboutMe .topLinks .skills a:hover{
    background-color: white;
    color:olive;
    font-size: 30px;
    text-decoration: none;
}
.bodySection .aboutMe .topLinks .experience a:hover{
    background-color: white;
    color: olive;
    font-size: 30px;
}
.bodySection .aboutMe .topLinks .projects a:hover{
    background-color: white;
    color: olive;
    font-size: 30px;
}
.para{
    margin-bottom: 150px;
    color: olive;
    margin-top: 50px;
    font-size: 30px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.experienceSection{
    background-color:darkgray;
    width: 100%;
    height: 580px;
    display: flex;
}
/*styling the footer section*/
.footerSection{
    background-color:gray;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    color: white;
    padding-left: 80px;
    border-bottom: 2px grey solid;
}
.footerSection .call{
    width: 25%;    
    display: flex;
}
.footerSection .call .footerImage img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.footerSection .email{
    width: 25%;    
    display: flex;
}
.footerSection .email img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;;
}
.footerSection .followMe{
    width: 25%;   
    display: flex; 
}
.footerSection .followMe .footerImage img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;;
}
.footerSection .followMe .followMeContent .socialIcons img{
    width: 20px;
    height: 20px;
    border-radius: none;
}
.footerSection .copyright{
    width: 25%;   
    display: flex; 
}
.footerSection .copyright img{
    background-color:grey;    
    border-radius: 50%;
    width: 50px;
    height: 50px;;
}
img{
    padding-right: 20px;
}