body{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px  solid black;
    margin: 0px;
    font-size: 20px;
}



#top div{
display: inline-block;
padding: 0px;
margin: 0px;
}

#search{
    float: right; 
}


input{
    padding: 7px;
    border-radius: 5px;
}

h1{
    color:grey;
    padding-left: 550px;
    text-shadow: -5px 20px 10px blue;
    margin-top: 80px;
    font-size: 60px;  
}


ul li{
    display: inline-block;
    padding: 20px;

    
}


.face{
    padding: 50px;
    text-align: center;
}


.but{
    font-size: 20px;
    border: none;
}

.but:hover{
    border: none;

}


.down{
    position: absolute;
    box-shadow: 0px 8px 16px 0px grey;
    overflow: auto;
    z-index: 1;
    width: 170px;
    




}

.down a{
    color: black;
    display: block;

}


.down:hover{
display: block;

}



a{
    text-decoration: none;
    color: black;
    padding: 10px;

}

#hello{
margin-top: 5px;
}

p{
    padding-left: 50px;
    font-size: 10px;
}

#div{
    border: 1px solid black;
    margin-bottom: 50px;
}
a:hover{
    color: orange;
    background-color: lightgray;
}


#contact{
    border: 1px solid black;
}