body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  background-color: hsl(167, 43%, 26%);
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
}
.navbar .logo {
  align-self: center;
  font-size: 23px;
  color: #f5f6fa;
  font-weight: normal;
}

.navbar .socials {
  align-self: center;
}

.navbar .socials a {
  color: #fff;
  text-decoration: none;
}
.navbar .socials a:hover {
  color: #f5f6fa;
}

/* Main Content */

.main-content {
  padding-left: 45px;
  padding-right: 45px;
}

.main-content h1 {
  font-size: 2em;
  margin: 20px 0 10px 0;
}

.student-wrapper {
  display: flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.student {
  border: 2px solid #dcdde1;
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 265px;
  margin-top: 20px;
}

.student:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease;
}

.student img {
  text-align: center;
  width: 245px;
  height: 265px !important;
  height: auto;
  padding: 10px;
}
.student-detail {
  text-align: center;
  font-size: 1.3em;
  background-color: #f5f6fa;
  padding: 10px 0;
  max-height: 119px;
}

.student-detail h3 {
  margin: 0;
  padding: 0;
}

.student-detail a {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #265f53;
  background-color: #265f53;
  color: #fff;
  border-radius: 2px;
  margin-top: 10px;
}

/* Footer */

footer {
  background-color: #8ac53f;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
  font-weight: normal;
}

@media (max-width: 942px) {
  .student {
    border: 2px solid #dcdde1;
    border-radius: 4px;
    flex-grow: 0;
    flex-shrink: 3;
    flex-wrap: wrap;
    width: 370px;
    margin-top: 20px;
  }
  .student img {
    text-align: center;
    width: 94%;
    height: 265px !important;
    height: auto;
    padding: 10px;
  }
}
