* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(238,238,238);
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
/*body content*/

.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: #163a1d;
}


fieldset{
  width: 700px;
  height: 420px;
  padding-top: 50px;
  text-align: center;
  border: none;
}
input{
  padding-bottom: 10px;
  margin: 10px;
  width: 400px;
  border-radius: 9px;
  color: #163a1d;
  border: none;
  padding:10px;
}
::placeholder{
  padding-left: 15px;
}
textarea{
  width: 400px;
  border-radius: 9px;
  color: #163a1d;
  margin-top: 10px;
}
button{
  width: 400px;
  padding: 10px;
  border-radius: 9px;
  color: white;
  background-color: #163a1d;
  font-size: 20px;
  margin-top: 10px;
  border: none;
}
button:hover{
  background-color: white;
  color: #163a1d;
}
h1{
  color: white;
  padding-bottom: 20px;
}

#nav-bar a{
  font-size: 25px;
  text-decoration: none;
  color: white;
  padding-left: 30px;
}
#nav-bar a:hover{
  color: ghostwhite;
  background-color: #163a;
  border-radius: 8px;
  padding: 15px;
}
@media (min-width: 700px){

  #nav-bar a{
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  /*height: 30em;*/
  height: 100vh;
  background-image: url('https://i.ibb.co/WVyfKzF/programming.jpg');
  background-position: center;
  background-size: cover;
}
.polarize{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.78);
}
