body{
    background-color:#e9e9f7;
}
#navbar {
    width: 80px;
    height: 30px;
    float: left;
}
.container{
    background-color:#e9e9f7;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    position: fixed;
    padding: 0px;
}
.header ul{
 margin: auto;
 padding: 14px;
 width: 100%;  
 background:#030338;
 float: left;
 
}
.header ul li{
    display: inline;
    
}

.header ul li a {
    
    color: white;
    padding:5px 11px;
    text-decoration: none; 
    
}
.header ul li a:hover, .manu ul li .selected{
    color: blue;
    padding-top: 1px;
    padding-bottom: 5px;
    background-color: none;
}

#content{
    padding: 20px 2px;
   
}
#profile {
    width: 300px;
    height: 360px;
    float: left;
    margin: 50px;
    border-radius: 10px

}
#resume{
    color: rgb(140, 178, 223);
    margin: 30px;
    
}
#nav{
    width: 180px;
    float: left;
}
#main{
    width: 800px;
    float: none;
}
* contact */
.w3pvt-webinfo_mail_grid_right {
    background: #f7f7f7;
    padding: 2em;
    -webkit-box-shadow: 7px 7px 10px 0 rgba(56, 56, 56, 0.21);
    -moz-box-shadow: 7px 7px 10px 0 rgba(56, 56, 56, 0.21);
    box-shadow: 7px 7px 10px 0 rgba(56, 56, 56, 0.21);
}

.w3pvt-webinfo_mail_grid_right input[type="text"],
.w3pvt-webinfo_mail_grid_right input[type="email"],
.w3pvt-webinfo_mail_grid_right textarea {
    outline: none;
    padding: 12px;
    font-size: 16px;
    color: #555;
    width: 100%;
    border: 1px solid #E6E6E6;
}

.w3pvt-webinfo_mail_grid_right textarea {
    min-height: 180px;
    width: 100% !important;
    resize: none;
}

.w3pvt-webinfo_mail_grid_right button {
    outline: none;
    padding: 11px 0;
    font-size: 16px;
    color: #fff;
    background: #030338;
    width: 100%;
    border: none;
    letter-spacing: 2px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
}

.contact-left-w3ls span {
    font-size: 2em;
    color: #000;
}

.contact-left-w3ls h4 {
    color: #000;
    font-size: 1.3em;
    margin-bottom: .4em;
}

.contact-left-w3ls p a {
    color: #8d8d8d;
}

.contact-left-w3ls h3 {
    font-size: 30px;
    color: #6174fc;
    margin-bottom: 1.5em;
    font-weight: 600;
}

.map iframe {
    width: 100%;
    min-height: 400px;
    margin-bottom: -4px;
}

/* //contact */
.description {
    width: 450px;
    /* background-color: maroon; */
    margin: 50px 10px;
  }
  
  .description h2 {
    margin: 0;
    color: #f9f9f9;
  }
  .description h2:first-child {
    font-weight: normal;
    padding: 5px 0px;
  }
  
  .description h2:last-child {
    font-weight: normal;
    padding: 5px 0px;
  }
  
  .description .personal {
    margin: 25px;
  }
  
  .personal p {
    color: #f9f9f9;
    float: right;
    
  }
#socialIcons ul li{
    display: inline-block;
}

#container{
    width: 800px;
    overflow: hidden;
}
#sliderbox{
    position: relative;
    width: 3200px;
    animation-name: slideranimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    
}

@keyframes slideranimation{
    10%
    {
        left: 0px;
    }

    20% /*4 seconds*/
    {
  left: 0px;
    }
    25%/*5 seconds*/
    {

        left: -800px;
    }
    45%/*9 second*/
    {
        left: -800px;
    }
    50% /*10 seconds*/
    {
    left: -1600px;
    }

    70% 
    {

        left: -1600px;
    }
    75% 
    {
        left: -2400px;
    }
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#footer{
    clear: both;
}
