/*Stying for the mail hmtl document.*/
body, html
{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: white;
    width: 100%;
    height: 100%;
}

/*Styling for the menu bar.*/
#menu 
{
    background-color: black;
}

#navbar-brand 
{
    color: white;
}

#main-container
{
    width: 800px;
    height: 700px;
    margin: auto;
    background: transparent;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

#image
{
    float: left;
    width: fit-content;
    height: fit-content;
}

#main
{
    float: right;
    width: 250px;
    height: 300px;
}

.title
{
    position: absolute;
    left: 50px;
    bottom: 0;
}

/* footer */
#footer
{
    background-color: black;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

#social
{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#social li { list-style: none; }

#social li a
{
    color: white;
    width: 90px;
    height: 90px;
    background: black;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}