<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> ABOUT ME. </title>
        <link rel="stylesheet" href="\Stylesheets\about.css">
        <link rel="stylesheet" href="\Stylesheets\bootstrap.min.css">
        <!--<link rel="stylesheet" href="Stylesheets\font-awesome.min.css">-->
        <!--These are the links to the external stylesheets and JavaScript files.-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <body style = "background-image: url(/Images/background1.jpg)">
        <!--Navigation Bar begins here.-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid" id="menu">
                <div class="navbar-header">   
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">  
                        <span class="sr-only">Toggle navigation</span>      
                        <span class="icon-bar"></span>      
                        <span class="icon-bar"></span>      
                        <span class="icon-bar"></span>    
                    </button>
                    <a class="navbar-brand" id="navbar-brand" href="About.html"><b> KINTU DECLAN TREVOR. </b></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar1">  
                    <ul class="nav navbar-nav navbar-right" >
                        <li><a href="Home.html"><b> Home </b></a></li>
                        <li><a href="Skills.html"><b> Skills & Experience </b></a></li>
                        <li><a href="Gallery.html"><b> Gallery </b></a></li>
                        <li><a href="Contact.html"><b> Contact </b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Navigation Bar ends here.-->

        <div class="profile-card" style="margin-top : 100px">
            <!--Image of me.-->
            <div class="image-container" id="image">
                <img src="\Images\declan.jpg" style="width: 100%">
            </div>

            <!--Description of me.-->
            <div class="main-container" id="main">
                <p> <i class="fa fa-address-card" aria-hidden="true"></i>
                    My Name is Kintu Declan Trevor. I am a graduate of United States Interational University (USIU -A) 
                    in Applied Computer Technology concentrating in Mobile & Distributed Systems.
                </p>
                <p> <i class="fa fa-briefcase" aria-hidden="true"></i>
                    I am huge fan of technology and the opportunities that it offers especially within the African Market.
                    I am knowledgable in Java, C++, HTML, JavaScript, CSS & Python.
                </p>
                <p> <i class="fa fa-gamepad" aria-hidden="true"></i>
                    I also enjoy sports; being a fan of Arsenal FC and Mercedes AMG Motorsport. 
                </p>
            </div>
        </div>

        <!--This is the page footer.-->
        <footer id="footer">
            <ul class="Social-Media" id="social">
                <li><a href="https://web.facebook.com/D.T.Kintu">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <b style="color: white"></i> Facebook </b></a></li>
                                
                <li><a href="https://twitter.com/_the_user">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <b style="color: white"> Twitter </b></a></li>
                                
                <li><a href="https://www.linkedin.com/in/declan-trevor-kintu-983625153/">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    <b style="color: white"></i> Linkedin </b></a></li>
                                
                <li><a href="https://www.instagram.com/__tr3vor_/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <b style="color: white"></i> Instagram </b></a></li>
                                
                <li><a href="https://www.youtube.com/channel/UCwOCPvtSIhQRLZczon5P-6w?view_as=subscriber">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    <b style="color: white"></i> YouTube </b></a></li>
                                
                <li><a href="https://github.com/MrKintu">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <b style="color: white"></i> Github </b></a></li>
            </ul>
        </footer>
    </body>
</html>