body{
    margin: 0px;
    padding: 0px;
}
.container{
    width:100%;
    height: 660px;
    background-color: #F3F4F6;
}

nav{
    width: 100%;
    height: 180px;
    background-color: #16224F;
    display: flex;  
}

.menu {
    margin-left: 610px;
    margin-top: 20px;
}

.content .about_me{
    width: 400px;
    height: 60px;
    margin-left: 150px;
    padding-top: 20px;
}

.content .about_me label{
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content .about_me_text{
    width: 400px;
    height: 60px;
    margin-left: 150px;
}

.content .about_me_text label{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.bottom {
    width: 82.5%;
    height: 450px;
    background-color: #FFFF;
    margin-left: 100px;
    margin-top: 25px;
    padding-top: 10px;

}

.bottom .bottom_inner{
    display: flex;
}

.bottom .Know_me{
    background-color: #16224F;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 8px;
}

.bottom .Know_me label{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    margin-left: 8px;
}

.bottom .description{
    background-color: #F3F4F6;
    width: 750px;
    height: 60px;
    margin-left: 10px;
    padding-top: 10px;
}

.bottom .description .inner{
    margin-left: 10px;
}

.bottom .left{
    margin-top: 5px;
    width: 500px;
    height: 300px;
    margin-left: 10px;
    background-color: #F3F4F6;
    padding-left: 20px;
    padding-top: 10px;
}

.bottom .left .image{
    background-color: #16224F;
    width: 300px;
    margin-left: 180px;
    height: 280px;  
    border-radius: 50%;
}

.bottom .left img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 15px;
}

.bottom .right{
    margin-top: 5px;
    width: 500px;
    height: 300px;
    margin-left: 10px;
    background-color: cadetblue;
    padding-left: 20px;
    padding-top: 10px;
}


.bottom .right .name{
    width: 70%;
    height: 40px;
    margin-bottom: 5px;
}

.bottom .right .born{
    width: 70%;
    height: 40px;
    margin-bottom: 5px;
}

.bottom .right .address{
    width: 70%;
    height: 40px;
    margin-bottom: 5px;
}

.bottom .right .email{
    width: 70%;
    height: 40px;
    margin-bottom: 5px;
}

.bottom .right .website{
    width: 70%;
    height: 40px;
    margin-bottom: 5px;
}

.bottom .right .phone{
    width: 70%;
    height: 40px;
    margin-bottom: 5px;
}

.bottom .right .name .inner{
    display: flex;
}
.bottom .right .name .inner label{
    font-weight: bold;
}


.bottom .right .born .inner{
    display: flex;
}

.bottom .right .born .inner label{
    font-weight: bold;
}

.bottom .right .address .inner{
    display: flex;
}

.bottom .right .address .inner label{
    font-weight: bold;
}

.bottom .right .email .inner{
    display: flex;
}

.bottom .right .email .inner label{
    font-weight: bold;
}

.bottom .right .website .inner{
    display: flex;
}

.bottom .right .website .inner label{
    font-weight: bold;
}

.bottom .right .phone .inner{
    display: flex;
}

.bottom .right .phone .inner label{
    font-weight: bold;
}

.bottom .right .phone .inner .name_label{
    width: 20%;
}

.bottom .right .website .inner .name_label{
    width: 20%;
}

.bottom .right .email .inner .name_label{
    width: 20%;
}

.bottom .right .address .inner .name_label{
    width: 20%;
}

.bottom .right .born .inner .name_label{
    width: 20%;
}

.bottom .right .name .inner .name_label{
    width: 20%;
}

.drop {
    background-color: #C9D2D9;
    color:black;
    padding: 0px;
    font-size: 16px;
    border: none;
  }

  .drop_down {
    position: relative;
    display: inline-block;
  }

  .drop_down .drop {
    width: 120px;
    height: 25px;
    border-radius: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #C9D2D9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: #953E72;
    display: block;
  }

.dropdown-content a:hover {
    background-color:#953E72;
    border-radius: 10px;
}
.drop_down:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}
.drop_down:hover .dropbtn {
    background-color: #C9D2D9;
}
