body{
    margin: 0px;
    padding-top: 0px;
}

.container{
    height:680px;
    width: 100%;
    background-color: #F3F4F6;
}

nav{
    width: 100%;
    height: 180px;
    background-color: #16224F;
    display: flex; 
}

.content .gallary{
    width: 400px;
    height: 60px;
    margin-left: 150px;
    padding-top: 20px;
}

.content .gallary label{
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content .gallary_text{
    width: 400px;
    height: 60px;
    margin-left: 150px;
}

.content .gallary_text label{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.drop {
    background-color: #C9D2D9;
    color:black;
    padding: 0px;
    font-size: 16px;
    border: none;
  }

  .drop_down {
    position: relative;
    display: inline-block;
  }

  .drop_down .drop {
    width: 120px;
    height: 25px;
    border-radius: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #C9D2D9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: #953E72;
    display: block;
  }

.dropdown-content a:hover {
    background-color:#953E72;
    border-radius: 10px;
}
.drop_down:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}
.drop_down:hover .dropbtn {
    background-color: #C9D2D9;
}

.menu .drop_down{
    margin-left: 600px;
    margin-top: 20px;
}

.container .photos_upper {
    background-color: #363636;
    height: 300px;
    display: flex;
}

.container .photos_upper .right{
    width: 300px;
    height: 280px;
    background-color: #FFFF;
    margin-top: 10px;
    margin-left: 150px;
}

.container .photos_upper .right .image{
    width: 280px;
    height: 220px;
    background-color: #953E72;
    margin-left: 10px;
}

.container .photos_upper .right .label{
    width: 280px;
    height: 80px;
    background-color: #16224F;
    margin-left: 10px;
    margin-top: 10px;
}

.container .photos_upper .right_center{
    width: 300px;
    height: 280px;
    background-color:#FFFF;
    margin-top: 10px;
    margin-left: 80px;
}

.container .photos_upper .right_center .image{
    width: 280px;
    height: 220px;
    background-color: #953E72;
    margin-left: 10px;
}

.container .photos_upper .right_center .label{
    width: 280px;
    height: 80px;
    background-color: #16224F;
    margin-left: 10px;
    margin-top: 10px;
}

.container .photos_upper .left_center{
    width: 300px;
    height: 280px;
    background-color: #FFFF;
    margin-top: 10px;
    margin-left: 80px;
}

.container .photos_upper .left_center .image{
    width: 280px;
    height: 220px;
    background-color: #953E72;
    margin-left: 10px;
}

.container .photos_upper .left_center .label{
    width: 280px;
    height: 80px;
    background-color: #16224F;
    margin-left: 10px;
    margin-top: 10px;
}


.container .photos_down {
    background-color: #363636;
    height: 300px;
    display: flex;
    margin-top: 50px;
}

.container .photos_down .right{
    width: 300px;
    height: 280px;
    background-color: #FFFF;
    margin-top: 10px;
    margin-left: 150px;
}

.container .photos_down .right .image{
    width: 280px;
    height: 220px;
    background-color: #953E72;
    margin-left: 10px;
}

.container .photos_down .right .label{
    width: 280px;
    height: 80px;
    background-color: #16224F;
    margin-left: 10px;
    margin-top: 10px;
}

.container .photos_down .right_center{
    width: 300px;
    height: 280px;
    background-color: #FFFF;
    margin-top: 10px;
    margin-left: 80px;
}

.container .photos_down .right_center .image{
    width: 280px;
    height: 220px;
    background-color: #953E72;
    margin-left: 10px;
}

.container .photos_down .right_center .label{
    width: 280px;
    height: 80px;
    background-color: #16224F;
    margin-left: 10px;
    margin-top: 10px;
}

.container .photos_down .left_center{
    width: 300px;
    height: 280px;
    background-color: #FFFF;
    margin-top: 10px;
    margin-left: 80px;
}

.container .photos_down .left_center .image{
    width: 280px;
    height: 220px;
    background-color: #953E72;
    margin-left: 10px;
}

.container .photos_down .left_center .label{
    width: 280px;
    height: 80px;
    background-color: #16224F;
    margin-left: 10px;
    margin-top: 10px;
}

img{
    width: 260px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.photos_down label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: small;
    color: white;
    margin-left: 10px;
    margin-top: 10px
}

.photos_upper label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: small;
    color: white;
    margin-left: 10px;
    margin-top: 10px
}