body{
    margin: 0px;
    padding: 0px;
}
.container{
    width:100%;
    background-color: green;
    height: 660px;
}

nav{
    width: 100%;
    height: 50px;
    background-color: blue;
    padding-top: 10px;
}

.upper_content{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bolder;
    font-size: larger;
}

.upper_content .name{
    width: 45%;
    text-align: center;
}

.upper_content .name label{
    font-weight: bolder;
    font-size: x-large;
}

.mySkillsLabel{
    text-align: center;
    height: 80px;
    margin-top: 40px;
}

.mySkillsLabel label{
    font-weight: bolder;
    font-size: x-large;
}

.left {
    width: 49%;
    background-color: pink;
    height: 460px;
    display: flex;
}

.left .image_label{
    width: 300px;
    height: 400px;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.left .images .computer_photo{
    width: 280px;
    height: 200px;
    margin-top: 20px;
}

.left .images .telecommunication{
    width: 280px;
    height: 200px;
    /* margin-left: 350px; */
    margin-top: 10px;
}

.left img {
    width: 270px;
    height: 190px;
}

.right {
    width: 49%;
    background-color: purple;
    height: 460px;
}

.personal_skills {
    display: flex;
}

.right .software{
    width: 480px;
    height: 200px;
    padding-left: 20px;
}

.right .software label{
    font-weight: bolder;
    color: aliceblue;
    font-size: larger;
    text-decoration: underline;
}

.right .engineering{
    width: 480px;
    height: 200px;
    margin-top: 50px;
    padding-left: 20px;
}

.right .engineering label{
    font-weight: bolder;
    color: aliceblue;
    font-size: larger;
    text-decoration: underline;
}

.right .software .html{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: brown;
    margin-bottom: 5px;
}

.right .software .label_html{
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.right .software .html .innerHtml{
    width: 89%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}

.right .software .label_css{
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.right .software .label_javaScript{
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.right .software .react{
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.right .software .node{
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.right .engineering .label_networking{
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.right .engineering .label_transmission{
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.right .engineering .label_electronics{
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.right .engineering  .label_electrical{
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}


.right .software .css{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: brown;
    margin-bottom: 5px;
}

.right .software .css .innerCss{
    width: 89%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}

.right .software .javaScript{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: brown;
    margin-bottom: 5px;
}

.right .software .javaScript .innerJavaScript{
    width: 89%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}

.right .software .reactJS{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: brown;
    margin-bottom: 5px;
}

.right .software .reactJS .innerReact{
    width: 60%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}

.right .software .nodeJS{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: brown;
    margin-bottom: 5px;
}

.right .software .nodeJS .innerNode{
    width: 60%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}

.right .engineering .networking{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: brown;
    margin-bottom: 5px;
}

.right .engineering .networking .innerNetworking {
    width: 60%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}

.right .engineering .tranmission{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: brown;
    margin-bottom: 5px;
}

.right .engineering .tranmission .innerTranmission{
    width: 60%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}

.right .engineering .electronics{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: brown;
    margin-bottom: 5px;
}

.right .engineering .electronics .innerElectronics {
    width: 60%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}

.right .engineering .electrical{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: brown;
    margin-bottom: 5px;
}

.right .engineering .electrical .innerElectrical{
    width: 60%;
    height: 100%;
    background-color: yellow;
    border-radius: 10px;
}