* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  body{
    background-color: rgb(238,238,238);
    scroll-behavior: smooth;
    font-size: 16px;
    color: #0a0a0a;
    font-family: 'Roboto', sans-serif;
  }
  
  /*body content*/
  .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    padding: 5px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: #163a1d;
    
  }
  
  #nav-bar a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding-left: 30px;
  }
  
  #nav-bar a:hover{
    color: ghostwhite;
    background-color: #163a;
    padding: 15px;
    border-radius: 8px;
  }
  fieldset{
    width: 1000px;
    height: 500px;
    margin-top: 100px;
    color: white;
    text-align: center;
    padding-top: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 20px 10px 10px 20px grey;
  }
  h2{
    margin-bottom: 30px;
  }
  p{
    font-size: 30px;
    margin-bottom: 30px;
  }
  a{
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  a:hover{
    color: #163a1d;
  }
  img{
    border-radius: 50%;
    position: absolute;
  }

  .img1{
    display: none;
  }

  .img2{
    display: none;
  }

  .img3{
    display: none;
  }

  .img4{
    display: none;
  }

  @media (min-width: 700px){
  
    header{
      padding-right: 1em;
      padding-left: 1em;
    }
  
    #nav-bar a{
      font-size: 20px;
      text-decoration: none;
      margin-right: 0.5em;
      color: white;
    }
  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: 30em;*/
    height: 100vh;
    background-image: url('https://i.ibb.co/WVyfKzF/programming.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .polarize{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.78);
  }
  
  