.p-messages {
  padding:10px;
  margin-bottom: 10px;
}
.btn:disabled,.p-disabled { 
  border: 1px solid #777;
  background-color: #ccc;
}
div.p-error, div.p-mandatory { 
  color: #f00;
}
.p-success { 
  border: 1px solid #77ff77;
  background-color: #ccffcc;
}

input.p-error:invalid, 
select.p-error:invalid, 
textarea.p-error:invalid { 
  border: solid 1px #f33;
}

input:focus:invalid, 
select:focus:invalid, 
textarea:focus:invalid { 
  border: solid 1px #f33 ;
}

input ~ .field-hint, 
select ~ .field-hint, 
textarea ~ .field-hint { 
  visibility: hidden ;
  line-height: 0em;
}

input:focus:invalid ~ .field-hint, 
select:focus:invalid ~ .field-hint, 
textarea:focus:invalid ~ .field-hint { 
  color: #f33 ;
  visibility: visible ;
  line-height: 1.5em;
}

label { 
  font-weight: bold; 
}
.p-form { 
  width: 100%;
}
