body{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px  solid black;
    margin: 0px;
}



#top div{
display: inline-block;
padding: 0px;


}

#search{
    float: right;
    padding: 100px;
    
    

    
}

ul li{
    display: inline-block;
    padding: 20px;
    padding-left: 50px;
    text-decoration: none;
    
}

#list{
    padding: 50px;
    text-align: center;
}

h1{
    color:grey;
    padding-left: 550px;
    text-shadow: -5px 20px 10px blue;
    margin-top: 80px;
    font-size: 60px;  
}


 
ul{
    margin: 15px 15px;
}

#images{}


a{
    text-decoration: none;
    color: black;
}

#hello{
margin-top: 5px;
}

p{
    padding-left: 50px;
    font-size: 10px;
}

#div{
    border: 1px solid black;
    margin-bottom: 50px;
}