body,html{
    padding: 0px;
    margin: 0px;
}
.header{
 
}
#main{
    margin-top: 45px;
}
.navOne{
    border: 1px solid lightgrey;  
    border-top:0px;
     
    border-left: 0px;
    border-right: 0px;   
}
.navOne input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.navOne button {
  
  padding: 10px 10px;
  margin-top: 8px;
  
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.td{
    text-align: center;
    
}

li{
    list-style: none;
    display: inline-block;

   
}
a{
    text-decoration: none;
    color:WHITE;
}
li a{
    font-weight: bold;
    font-size: 12px;
}
#welcome{
    width: 350px;
    border-right: 1px solid black;
}
#mail{
    width: 150px;
    border-right: 1px solid black;
}
#Search{
    width: 211px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.rightNav{
    padding-left: 480px;
}
.navTwo{
   /* border: 1px solid lightgrey;   
    text-align: center; 
    border-left: 0px;
    border-right: 0px;
    box-shadow: 10px 0px black;*/


    overflow: hidden;
  background-color: #3090C7;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center; 
        

}
.navTwo div ul li{
    padding-left: 10px;
    padding-right: 10px;
  
}
/*image slider*/
* {box-sizing: border-box}
            .slideShow-container{
        
              position: relative;
              margin: auto;
            }
            /*Hide the images by default*/
            .mySlides{
                display: none;
            }
            img{vertical-align: middle;}
            /* Next & previous buttons */
            .prev, .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              width: auto;
              margin-top: -22px;
              padding: 16px;
              color: white;
              font-weight: bold;
              font-size: 18px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
              user-select: none;
            }
            /* Position the "next button" to the right */
            .next {
              right: 0;
              border-radius: 3px 0 0 3px;
            }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
              background-color: rgba(0,0,0,0.8);
            }
            /* The dots/bullets/indicators */

            /* Caption text */
            .text {
                 background: rgba(0, 0, 0, 0.6);
                
                margin-left: 70px;
                opacity: 0.6;
              color: #f2f2f2;
              font-size: 20px;
              padding: 8px 12px;
              position: absolute;
              bottom: 30%;
              width: 30%;
              text-align: center;
            }
            .dot {
              cursor: pointer;
              height: 15px;
              width: 15px;
              margin: 0 0px;
              background-color: #bbb;
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;

            }

            .active, .dot:hover {
              background-color: #717171;
            }
            /* Fading animation */
            .fade {
              -webkit-animation-name: fade;
              -webkit-animation-duration: 1.5s;
              animation-name: fade;
              animation-duration: 1.5s;
            }

            @-webkit-keyframes fade {
              from {opacity: .4} 
              to {opacity: 1}
            }

            @keyframes fade {
              from {opacity: .4} 
              to {opacity: 1}
            }

            .button {
              background-color: orange; /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              margin-left: 0px;
              font-size: 16px;
              
              cursor: pointer;
            }
            .refSlides {display:none;}
/*about us*/
.about-container{
    background:;
    border-radius: 5px;
    display:flex;
    height: auto;

    
}
.about-container1{
    background-color: ;
    width: 50%;
    opacity: 0.3
    margin: 10px;
}
.about-container1 p{
  
    font-size: 18px;
    margin: 30px;
    color: BLUE;
    font-weight: bold;
}
.about-container1 h3{
    margin: 30px;
    color: #7D0552;
    
}
.about-container1 p{
    margin: 15px;
    color: grey;
    font-family: cursive;
    
}


.about-container button{
    width: 70%;
    background-color: #368BC1;;
    color: white;
    padding: 14px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*styling the about section*/
.about-container{
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}

@ media screen and (max-width: 1200px){
    .box{width: 40%;
    }

}
@ media screen and (max-width: 600px){
    .box{width: 90%;
    }

}
.box{
        background:yellow;
        height: 300px;
        width: 44%;
        box-sizing: border-box;
        margin: 20px;

    }
  
    /*Gallery*/
   div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 200;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
    

/*services*/
.services-container{
    background:;
    border-radius: 5px;
    display:flex;
    height: auto;
    
}
.services-container1{
    background-color: white;
    width: 25%;
    border-radius: 5%;
    margin: 10px;
}
.services-container1:hover{
    background-color:lightgrey ;
    width: 30%;
    border-radius: 5%;
    margin: 10px;
    color: #461B7E;
}
.services-container1 p{
  
    font-size: 18px;
    margin: 30px;
    color: #34282C;
    font-family: Arial Verdana;
}
.services-container1 h3{
    margin: 15px;
    color: WATER;
    
}
.button-services {
              background-color: orange; /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              margin-left: 0px;
              font-size: 16px;
              margin-bottom: 30px
              cursor: pointer;
            }

/*contacts*/
.contact-container{
    background:;
    border-radius: 5px;
    display:flex;
    height: auto;
    
}
.contact-container1{
   /* background-color: cornflowerblue;*/
    width: 50%;
    
    margin: 10px;

}
.contact-container1 p{
  
    font-size: 18px;
    margin: 30px;
    color: BLUE;
    font-weight: bold;
}
.contact-container1 h3{
    margin: 15px;
    color: #7D0552;
    
}
.contact-container input[type=text]{
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 12px 20px;
    box-sizing: border-box;
    margin:10px 33px;
    width: 90%

}
.contact-container textarea{
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-left: 24px;
    width: 90%;
    height:200px;

}
.contact-container button{
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 19px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#grad1 {
   
    background: -webkit-linear-gradient(left top, cornflowerblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,cornflowerblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,cornflowerblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, cornflowerblue, white); /* Standard syntax (must be last) */
}

/*Projects*/
.projects-container{
    background:;
    border-radius: 0px;
    display:flex;
    height: auto;
    
}
.projects-container1{
    background-color: white;
    
    border-radius: 0;
    
}
.projects-container1:hover{
    background-color:lightgrey ;
    
    border-radius: 0;
    
   
}
.projects-container1 p{
  
    font-size: 18px;
    margin: 30px;
    color: black;
    font-weight: bold;
}
.projects-container1 h3{
    margin: 15px;
    color: blue;
    
}
.button-projects {
              background-color: orange; /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              margin-left: 0px;
              font-size: 16px;
              margin-bottom: 30px
              cursor: pointer;
            }
/*skills*/
.skills-container{
    background:;
    border-radius: 0px;
   
    height: auto;
    
}
.js_grey{height:24px;
  width:50%;
   background:#667C26;
    margin-left: 60;
    color: white;
    font-size: 18px
    font-weight:300px;
    text-align: center;
  }
/*Refferences*/
.refferences-container{
    background:;
    border-radius: 5px;
    display:flex;
    height: auto;
    
}
.refferences-container2{
    background:;
    border-radius: 5px;
    display:flex;
    height: auto;
    width: 50%;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.refferences-container1{
    background-color:;
    width: 70%;
    border-radius: 0%;
    margin-left: 0px;
   }
.refferences-container12{
    background-color:;
    width: 30%;
    border-radius: 0%;
    margin-left: 20px;
    }
.refferences-container1:hover{
    background-color:lightgrey;
    width: 70%;
    border-radius: 0%;
    margin: 0px;
    color: #461B7E;
}
.refferences-container1 p{
  
    font-size: 16px;
    margin: 30px;
    color: 25383C;
   
    font-family: Arial;
}
.refferences-container1 h3{
    margin: 25px;
    color: WATER;
    
}

    /*footer*/
    .footer{
        background-color: black;
      /*  position: fixed;*/
       bottom: 0px;
        width: 100%;

    }
    .footer li a{
        font-weight: normal;
        color: white;
        font-size: 12px;
        padding: 15px
    }