*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.register_div{
padding: 40px;
background-color: rgb(5, 73, 64);
margin: 60px;
width: 50%;
margin-left:250px; 
position: absolute;
box-shadow: 0 7px 4px rgb(2, 76, 110);
border-radius: 10px;
}

table{
padding: 7px;
cellspacing:10;

}
input{
width: 100%;
padding: 8px;
border-radius: 8px;
border-style: inherit;

}
select{
width: 100%;
padding: 8px;
border-radius: 10px;

}
button{
  background-color: rgb(4, 97, 81);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 8px;
  font-size: 18px;
}

button:hover{
background-color: rgb(11, 219, 219);
color: rgb(4, 97, 81);
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}


textarea{
overflow: auto;
 outline: none;
 border: 1px solid #888; 
 border-radius: 8px;
}