/* Setting a background color for the page  and various fonts in case the client can't see one of them*/
.body{
    background-color: #F3F1E7;
}

/* I've given my header - Olive - a top panel ID and thereby styling it */
#top_pannel{
    font-weight: bolder;
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    font-family: Cardo,Bold;
    color: #F17D6F;
    margin-top: 50px;
}

/* Removing the bullets from the unordered list and aligning to center */
#menubar ul {
    list-style-type: none;
    text-align: center;
}

/*Making sure that the menu categories are on the same line */
#menubar ul li {
    display: inline;
}

 /* Styling the menubar */
 #menubar a{
    text-decoration: none;
    color: #655CAD;
    font-family: Cardo,Bold;
    font-size: 30px;
}

/*Styling the form */
.form {
    font-family: Cardo,Regular;
    margin-left: 400px;

}
