<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>peter m </title>
    <link rel="stylesheet" type="text/css" href="css/pro.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	 <!-- FontAwesome CSS -->
	 <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	 <link href="//fonts.googleapis.com/css?family=Sarabun:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;subset=latin-ext,thai,vietnamese"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Courgette&amp;subset=latin-ext" rel="stylesheet">
</head>
<center>
<body id = "myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
 <header class="header">
        <ul>
                <li><img src="img\peter.gif" id="navbar"></li>
                <li><a href= "#">HOME</a></li>
                <li><a href= "#skills">SKILLS</a></li>
                <li><a href= "#project">PROJECTS</a></li>
                <li><a href= "#contact">CONTACTME</a></li>
                <li><a href= "#gallery">PHOTOS</a></li>
                <li><a href= "#references">REFERENCE</a></li>
            </ul>
 </header> <br><br>
 <!-- starting area-->
 <div class="container"> 
	 <div class="row">
		 <div class="col-sm-4">
			  <img src="img\im4.jpg" id="profile" >
		 </div><BR><BR>
		 <div class="col-sm-8"><BR><BR>
				<h1>Hi am PETER MUGONYI</h1>
				<p>
					Iam Software Developer with interest in both front and Backend technologies. 
					I love Team work with special emphasis on Agile and Scrum Software development methodologies .
					</p>

					<div class="row">
						<div class="col-sm-3">
							<p>Name</p>
					
							<p>email</p>
							<p>github</p>
							<h5><p>please Follow me </p></h5>
						</div>
						<div class="col-sm-4" >
								<p>Mugonyi Peter</p>
								
								<p>mugonyipeter1@gmail.com</p>
								<p>www.github.com/mugonyi85</p>
						</div>
					</div>
					<div class="row">
							<div class="col-sm-1"><a href="https://www.facebook.com/nakabandabeatrice/" class="genericon genericon-facebook" target="_blank">
								<img src="img/facebook.png"></a></div><div class="col-sm-1"><a href="https://www.twitter.com/worldshineusa/" class="genericon genericon-facebook" target="_blank">
									<img src="Img/linkedin.png" width="20px">
								</a></div><div class="col-sm-1"><a href="https://www.twitter.com/worldshineusa/" class="genericon genericon-facebook" target="_blank">
									<img src="img/twitter.png">
								</a></div><div class="col-sm-1">	<a href="https://www.twitter.com/worldshineusa/" class="genericon genericon-facebook" target="_blank">
									<img src="Img/google+.png" width="20px"></div><div class="col-sm-1">	<a href="https://www.twitter.com/worldshineusa/" class="genericon genericon-facebook" target="_blank">
										<img src="Img/github.jpg" width="20px"></div><div class="col-sm-1"><a href="https://www.twitter.com/worldshineusa/" class="genericon genericon-facebook" target="_blank">
									<img src="Img/whatsapp.png" width="20px">
								</a></div><div class="col-sm-1">	<a href="https://www.twitter.com/worldshineusa/" class="genericon genericon-facebook" target="_blank">
							<img src="Img/phone.png" width="20px"></div>
						</div><br>
						<button class="button-about"><a href="mycv.zip" download>Download Resume cv  </a> </button>		
		 </div>
		 
	 </div>
	<h1> wellcome to my blog feel free </h1>
	 <section class="contact py-5" id="contact">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-uppercase text-center text-bl mb-5 pb-xl-3">Contact me</h3>
			<div class="row mail-w3l-w3pvt-web pt-xl-4">
				<div class="col-md-5 contact-left-w3ls">
					<h3>Contact Info</h3>
					<div class="row visit">
						<div class="col-md-2 col-sm-2 col-2 contact-icon-wthree">
							
						</div>
						<div class="col-md-10 col-sm-10 col-10 contact-text-w3pvt-webinf0">
							<h4>Visit me</h4>
							<p>MBALE ,EASTERN, UGANDA</p>
							<p>KAMPALA.</p>
						</div>
					</div>
					<div class="row mail-w3 my-4">
						<div class="col-md-2 col-sm-2 col-2 contact-icon-wthree">
						
						</div>
						<div class="col-md-10 col-sm-10 col-10 contact-text-w3pvt-webinf0">
							<h4>Mailme</h4>
							<p><a href="mugonyipeter1@gmail.com">mugonyipeter1@gmail.com</a></p>
						</div>
					</div>
					<div class="row call">
						<div class="col-md-2 col-sm-2 col-2 contact-icon-wthree">
						
						</div>
						<div class="col-md-10 col-sm-10 col-10 contact-text-w3pvt-webinf0">
							<h4>Call me</h4>
							<p>+256779345674</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 w3pvt-webinfo_mail_grid_right mt-md-0 mt-5">
					<form action="contact" method="POST" name="contact">
						<div class="form-group">
							<input type="text" name="name" class="form-control" placeholder="Name" required="">
						</div>
						<div class="form-group">
							<input type="email" name="email" class="form-control" placeholder="Email" required="">
						</div>
						<div class="form-group">
							<textarea type="text" name="message" placeholder="Message......." required=""></textarea>
						</div>
						<button type="submit" class="btn">Submit</button>
					</form>
					<p>
						<a href="https://www.facebook.com/mugonyi.peter" class="genericon genericon-facebook" target="_blank">
							<img src="img/facebook.png"></a>
						&nbsp;
						<a href="https://twitter.com/MugonyiPeter" class="genericon genericon-facebook" target="_blank">
							<img src="img/twitter.png">
						</a>
						<a href="https://www.linkedin.com/in/mugonyi-peter" class="genericon genericon-facebook" target="_blank">
							<img src="Img/linkedin.png" width="20px">
						</a>
						<a href="https://aboutme.google.com/u/0/" class="genericon genericon-facebook" target="_blank">
							<img src="Img/google+.png" width="20px">
						</a>
						<a href="0757577998" class="genericon genericon-facebook" target="_blank">
							<img src="Img/whatsapp.png" width="20px">
						</a>
				</p>
				</div>
				<div>
					

				</div>
			</div>
		</div>
	</section>
	
	<!-- //contact -->
<!-- skills section-->
<div id="skills" class="container-fluid">
	<div class="container">
			<div id="skills">
					<header class="entry-header"><br><br><br>
								<h1 class="entry-title text-center"><strong>My skills</strong></h1>
								<hr id="hr">
							  </header>
							  <div class="col-sm-6">
								<h4><b>Web development skills</b></h4><br>
								<p>HTML5 & CSS3</p>
								<div class="progress">
										<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
												80%
											</div>
								</div>
								<p>JavaScript</p>
								<div class="progress">
										<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">
												50%
											</div>
								</div>
								<p>Node JS</p>
								<div class="progress">
										<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%">
												60%
											</div>
								</div>
								<p>Python</p>
								<div class="progress">
										<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
												70%
											</div>
								</div>
								<p>PHP & mySql</p>
								<div class="progress">
									<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
										85%
									</div>
								</div>
								<center><h1> wellcome to my blog feel free </h1></center>
								<!-- social media links -->
								<div id = "social-media">
										<p><b><i>Follow me on</i> </b></p>
										<p>
												<a href="https://www.facebook.com/mugonyi.peter" class="genericon genericon-facebook" target="_blank">
													<img src="img/facebook.png"></a>
												&nbsp;
												<a href="https://twitter.com/MugonyiPeter" class="genericon genericon-facebook" target="_blank">
													<img src="img/twitter.png">
												</a>
												<a href="https://www.linkedin.com/in/mugonyi-peter" class="genericon genericon-facebook" target="_blank">
													<img src="Img/linkedin.png" width="20px">
												</a>
												<a href="https://www.twitter.com/worldshineusa/" class="genericon genericon-facebook" target="_blank">
													<img src="Img/google+.png" width="20px">
												</a>
												<a href="#" class="genericon genericon-facebook" target="_blank">
													<img src="Img/whatsapp.png" width="20px">
												</a>
										</p>
										
									</div>
								
							  </div>
							  
		</div>
		</div> <br> <br>  
		<!-- gallery-->
		<div class="container-fluid" id="gallery">
			<div class="container">
					<header class="entry-header"><BR><BR>
						<h1 class="entry-title text-center"><strong>Gallery</strong></h1>
						<hr id="hr">
				</header>
				<div class="row">
					<div class="col-sm-3">
						<a target="_blank" href="img/im1.jpg">
						<img src="img/im4.jpg" alt="Trolltunga Norway" width="250" height="300">
					</a>
				</div>
				<div class="col-sm-3">
						<a target="_blank" href="img/im1.jpg">
							<img src="img/im3.jpg" alt="Trolltunga Norway" width="250" height="300">
						</a></div>
					<div class="col-sm-3">
							<a target="_blank" href="img/im1.jpg">
								<img src="img/im2.jpg" alt="Trolltunga Norway" width="250" height="300">
							</a></div><div class="col-sm-3">
									<a target="_blank" href="../img/im1.jpg">
										<img src="img/im5.jpg" alt="Trolltunga Norway" width="250" height="300">
									</a>
							</div>
				</div>
				<div class="row">
					<div class="col-sm-3"><p>peter passport</p></div><div class="col-sm-3">peter and at raboremus</div>
					<div class="col-sm-3"><p>peter at raboremus</p></div><div class="col-sm-3"><p>peter at raboremus</p>
						<p>peter</p></div>
				</div>
			</div>
			<h1> <marquee behavior="" direction="left">Click on the photo to preview </marquee></h1>
		</div><br><br>
  	<!-- references section   -->
   <div id="references" class="container-fluid">
		<div class="container">
				<header class="entry-header"><BR><BR>
						<h1 class="entry-title text-center"><strong>References</strong></h1>
						<hr id="hr">
				</header>
				<div class="col-sm-12">
						<div class="row text-center">
								<div class="col-sm-4">
								  <div class="thumbnail">
									<img src="img/team3.png" alt="Paris" width="300px" height="450px">
									<p><strong><a href="https://github.com/katungye" >follow johnson</a></strong></p>
			                                              
								  </div>
								</div>
								<div class="col-sm-4">
								  <div class="thumbnail">
									<img src="img/team2.png" alt="team2" width="300px" height="450px">
									<p><strong><a href="https://github.com/MrKintu" >follow kintu</a></strong></p>
						
								  </div>
								</div>
								<div class="col-sm-4">
								  <div class="thumbnail">
									<img src="img/Solomon.png" alt="San Francisco" width="300px" height="450px">
									<p><strong><a href="https://github.com/solomonmuheki" >follow solomon</a></strong></p> 
								  </div>
								</div>                                    
				</div>       
		</div>
		<div class="row">
				<div class="col-sm-6">
						
				<div class="col-sm-6">
						<p id="top_2"><b><a href="#myPage" >Top</a></b></p>
				</div>
		</div>
	</div> 
	</div>
	<br><br><br><br>
	
	<!-- projects section   -->
	<div class="container-fluid bg-3 text-center" id="project"><br><br><br>  
		<header class="entry-header"><BR><BR>
			<h1 class="entry-title text-center"><strong>Some of my work</strong></h1>
			<hr id="hr">
	</header>
		<div class="row">
			<div class="col-sm-3">
				<h4><p>Loan Calculator</p></h4>
				<button class="button-about"><a href="https://github.com/alc-cohort1/GroupWork/archive/master.zip" download>Download  </a> </button>
				<img src="img/calculator.png" class="img-responsive" style="width:100%" alt="Image">
			</div>
			<div class="col-sm-3"> 
				<h4><p>Toyota app</p></h4>
				<button class="button-about"><a href="mycv.zip" download>Download  </a> </button>
				<img src="img/toyota.png" class="img-responsive" style="width:100%" alt="Image">
			</div>
			<div class="col-sm-3"> 
				<h4><p>form validation</p></h4>
				<button class="button-about"><a href="https://github.com/alc-cohort1/GroupWork/blob/master/peter%20mugonyi/index.html" download>Download  </a> </button>
				<img src="img/form.png" class="img-responsive" style="width:100%" alt="Image">
			</div>
			<div class="col-sm-3">
				<h4><p>class project</p></h4>
				<button class="button-about"><a href="https://github.com/alc-cohort1/ClassProject/archive/master.zip" download>Download  </a> </button>
				<img src="img/project.png" class="img-responsive" style="width:100%" alt="Image">
			</div>
		</div>
	</div><br>
	
	</div><br><br>
						<!-- social media links -->

					</div>
					<div class="col-sm-6">
						<h4><b>Done projects</b></h4><br><br><br><br>
										 
						<p id="top_1"><b><a href="#myPage" >Top</a></b></p>
					</div>
					
							
			</div>
		</div>                         
 </div>
            
 <div class="footer">
			
	
</body>
</html>