<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aboutMe</title>
    <link rel="stylesheet" href="../styles/about_me.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="upper_content">
                <div class="name">
                        <label for="name">Alican Odong</label>
                </div>
                <div class="home">
                    <a href="#">Home</a>
                </div>
                <div class="about_me">
                    <a href="#">About Me</a>
                </div>
                <div class="skills">
                    <a href="#">skills</a>
                </div>
                <div class="experience">
                    <a href="#">Experience</a>
                </div>
                <div class="projects">
                    <a href="#">Projects</a>
                </div>
                <div class="gallary">
                    <a href="#">Gallary</a>
                </div>
                <div class="portFolio">
                    <a href="#">Port Folio</a>
                </div>
            </div>
        </nav>
        <div class="top">
            <div class="about_me_label">
                <label for="about_me">ABOUT ME</label> 
            </div>
            <div class="infomation">
                <label for="infomation"></label>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="name">
                    <div class="inner">
                        <div class="name_label" style="width: 30%;">
                            <label for="name">
                                Name
                            </label>
                        </div>
                        <div class="label">
                            <label>
                                Odong Sunday Alican
                            </label>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="born">
                    <div class="inner">
                        <div class="name_label" style="width: 30%;">
                            <label for="name">
                                Born
                            </label>
                        </div>
                        <div class="label">
                            <label>
                                28th October 
                            </label>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="address">
                    <div class="inner">
                        <div class="name_label" style="width: 30%;">
                            <label for="name">
                                Address
                            </label>
                        </div>
                        <div class="label">
                            <label>
                                Plot 19, Obiya Road Gulu 
                            </label>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="email">
                    <div class="inner">
                        <div class="name_label" style="width: 30%;">
                            <label for="name">
                                Email
                            </label>
                        </div>
                        <div class="label">
                            <label>
                                Sandieo.2020@gmail.com
                            </label>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="website">
                    <div class="inner">
                        <div class="name_label" style="width: 30%;">
                            <label for="name">
                                Website
                            </label>
                        </div>
                        <div class="label">
                            <label>
                                www.alicanodong@softearth.com
                            </label>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="phone">
                    <div class="inner">
                        <div class="name_label" style="width: 30%;">
                            <label for="name">
                                Phone
                            </label>
                        </div>
                        <div class="label">
                            <label>
                                +256-777-338787/+256-756-871687
                            </label>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="left"></div>
        </div>
    </div>
</body>
</html>