<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>experience page</title>
    <link rel="stylesheet" href="../styles/experience.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="content">
                <div class="experience">
                    <label for="experience">
                        My Experience
                    </label>
                </div>
                <div class="experience_text">
                    <label for="experience_text">
                        A brief information about my experience in various fields
                    </label>
                </div>
            </div>
            <div class="menu">
                <div class="drop_down">
                    <button class="drop">Menu</button>
                    <div class="dropdown-content">
                        <a href="#">About</a>
                        <a href="#">Skills</a>
                        <a href="#">Experience</a>
                        <a href="#">Projects</a>
                        <a href="#">Contact me</a>
                        <a href="#">Gallary</a>
                        <a href="#">Pot Folio</a>
                      </div>
                </div>
            </div>
        </nav>
        <div class="top">
            <div class="inner_top">
                <div class="title"></div>
                <div class="content"></div>
            </div>
        </div>
        <div class="medium">
            <div class="left">
                <div class="title"></div>
                <div class="content"></div>
            </div>
            <div class="right">
                <div class="title"></div>
                <div class="content"></div>
            </div>
        </div>
    </div>
</body>
</html>