<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>experience page</title>
    <link rel="stylesheet" href="../styles/experience.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="content">
                <div class="experience">
                    <label for="experience">
                        My Experience
                    </label>
                </div>
                <div class="experience_text">
                    <div class="label">
                        <label for="experience_text">
                            A brief information about my experience in <b style="color: #EA5181">various fields</b>
                        </label>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="drop_down">
                    <button class="drop">Menu</button>
                    <div class="dropdown-content">
                        <a href="Profile.html">Home</a>
                        <a href="about_me.html">About</a>
                        <a href="skills.html">Skills</a>
                        <a href="#">Projects</a>
                        <a href="contact_me.html">Contact me</a>
                        <a href="gallary.html">Gallary</a>
                      </div>
                </div>
            </div>
        </nav>
        <div class="top">
            <div class="inner_top">
                <div class="title">
                    <div class="image">
                        <img src="../images/mouse.png" alt="">
                    </div>
                    <div class="label">
                        <label for="title">
                            Software Development Experience
                        </label>
                    </div>
                </div>
                <div class="content">
                    <label for="content">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, 
                        remaining essentially unchanged. It was popularised in the 1960s with the release of 
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    </label>
                </div>
            </div>
        </div>
        <div class="medium">
            <div class="left">
                <div class="title">
                    <div class="image">
                        <img src="../images/leader.jpeg" alt="" srcset="">
                    </div>
                    <div class="label">
                        <label>
                            Leadership Experience
                        </label>
                    </div>
                </div>
                <div class="content">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, 
                        remaining essentially unchanged. It was popularised in the 1960s with the release of
                </div>
            </div>
            <div class="right">
                <div class="title">
                    <div class="image">
                        <img src="../images/electrical.jpg" alt="" srcset="">
                    </div>
                    <div class="label">
                        <label>
                            Engineering Experience
                        </label>
                    </div>
                </div>
                <div class="content">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, 
                        remaining essentially unchanged. It was popularised in the 1960s with the release of 
                </div>
            </div>
        </div>
    </div>
</body>
</html>