<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/gallary.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="content">
                <div class="gallary">
                    <label for="gallary">
                        Photo 
                    </label>
                </div>
                <div class="gallary_text">
                    <div class="label">
                        <label for="gallary_text">
                            Check out some Pictures of the Ultimate Alican
                        </label>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="drop_down">
                    <button class="drop">Menu</button>
                    <div class="dropdown-content">
                        <a href="Profile.html">Home</a>
                        <a href="about_me.html">About</a>
                        <a href="skills.html">Skills</a>
                        <a href="#">Projects</a>
                        <a href="contact_me.html">Contact me</a>
                        <a href="#">Gallary</a>
                        </div>
                </div>
            </div>
        </nav>
        <div class="photos_upper">
            <div class="right">
                <div class="image">
                    <img src="../images/odong_sunday.jpg" alt="" srcset="">
                </div>
                <div class="label">
                    <label>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </label>
                </div>
            </div>
            <div class="right_center">
                <div class="image">
                    <img src="../images/Sunday Odong.jpg" alt="" srcset="">
                </div>   
                <div class="label">
                    <label>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </label>
                </div>
            </div>
            <div class="left_center">
                <div class="image">
                    <img src="../images/foto.jpg" alt="" srcset="">
                </div>
                <div class="label">
                    <label>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </label>
                </div>
            </div>
        </div>
        <div class="photos_down">
            <div class="right">
                <div class="image">
                    <img src="../images/Sunday Odong.jpg" alt="" srcset="">
                </div>
                <div class="label">
                    <label>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </label>
                </div>
            </div>
            <div class="right_center">
                <div class="image">
                    <img src="../images/odong_sunday.jpg" alt="" srcset="">
                </div>   
                <div class="label">
                    <label>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </label>
                </div>
            </div>
            <div class="left_center">
                <div class="image">
                    <img src="../images/foto.jpg" alt="" srcset="">
                </div>
                <div class="label">
                    <label>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>