<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Profile</title>
    <link rel="stylesheet" href="../styles/Profile.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="photo">
                    <div class="photo_inner">
                        <img src="../images/foto.jpg" alt="" class="upper_section_image">
                    </div>
                    <div class="lets_talk">
                        <a href="contact_me.html">
                            <button><b>LET US TALK</b></button>
                        </a>
                    </div>
                    <div class="social_media">
                            <div class="twitter">
                                <a href="http://twitter.com" target="_blank">
                                    <img src="../images/twiter_favicon.png" alt="twitter.com" class="social">
                                </a>
                            </div>
                            <div class="facebook">
                                <a href="http://facebook.com" target="_blank">
                                    <img src="../images/favicon_facebook.png" alt="facebook.com" class="social">
                                </a>
                            </div>
                            <div class="google">
                                <a href="http://google.com" target="_blank">
                                    <img src="../images/google+.png" alt="google+.com" class="social">
                                </a>
                            </div>
                            <div class="linkedIn">
                                <a href="http://linkedIn.com" target="_blank">
                                    <img src="../images/linked_in.png" alt="linkedIn.com" class="social">
                                </a>
                            </div>
                            <div class="gmail">
                                <a href="https://gmail.com" target="_blank">
                                    <img src="../images/favicon_gmail.png" alt="gmail.com" class="social">
                                </a>
                            </div>
                            <div class="instagram">
                                <a href="http://instagram.com" target="_blank">
                                    <img src="../images/instagram.jpeg" alt="instagram" class="social">
                                </a>
                            </div>
                        </div>
                </div>
                <div class="introduction">
                        <div class="menu">
                            <div class="about">
                                <button>
                                    <a href="about_me.html">About</a></div> 
                                </button>
                            <div class="skills">
                                <button>
                                    <a href="skills.html">Skills</a>
                                </button>
                            </div> 
                            <div class="experience">
                                <button>
                                    <a href="experience.html">Experience</a>
                                </button>
                            </div> 
                            <div class="project">
                                <button>
                                    <a href="">Projects</a>
                                </button>
                            </div> 
                            <div class="contact">
                                <button>
                                    <a href="contact_me.html">Contact me</a>
                                </button> 
                            </div> 
                            <div class="gallary">
                                <button>
                                    <a href="gallary.html">Gallary</a>
                                </button>
                            </div> 
                        </div>
                    <div class="introduction_inner">
                        <label class="introduction_labels" >Hey I'm</label><br/>
                        <label class="introduction_labels"><b>SUNDAY ODONG</b></label><br/>
                        <label class="introduction_labels">Software Developer</label><br/>
                        <p>
                            In the field of Programming I would want in the next 1 year to achieve a level of 
                            a senior developer
                        </p>
                    </div>
                    <div class="bottom_inner">
                        <div class="bio_data" style=" margin-bottom: 30px; background-color: #EA5181; width: 100px;height: 30px; border-radius: 5px;padding-top: 10px">
                            <label style="color: black; font-weight: bold; margin-left: 10px; margin-top: 10px">
                                BIO-DATA
                            </label>
                        </div>
                            <div class="right">
                                    <div class="name" style="border-bottom: 1px dashed #fff; padding-bottom: 10px; margin-bottom: 8px">
                                        <div class="inner">
                                            <div class="name_label" style="width: 30%; ">
                                                <label for="name" style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    Name:
                                                </label>
                                            </div>
                                            <div class="label">
                                                <label style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    Odong Sunday Alican
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="born" style="border-bottom: 1px dashed #fff; padding-bottom: 10px; margin-bottom: 8px">
                                        <div class="inner">
                                            <div class="name_label" style="width: 30%;">
                                                <label for="name" style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    Date of Birth:
                                                </label>
                                            </div>
                                            <div class="label">
                                                <label style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    28th October 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="address" style="border-bottom: 1px dashed #fff; padding-bottom: 10px; margin-bottom: 8px">
                                        <div class="inner">
                                            <div class="name_label" style="width: 30%;">
                                                <label for="name" style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    Address:
                                                </label>
                                            </div>
                                            <div class="label" >
                                                <label style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    Plot 19, Obiya Road Gulu 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="email" style="border-bottom: 1px dashed #fff; padding-bottom: 10px; margin-bottom: 8px">
                                        <div class="inner">
                                            <div class="name_label" style="width: 30%;">
                                                <label for="name" style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    Email:
                                                </label>
                                            </div>
                                            <div class="label">
                                                <label style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    Sandieo.2020@gmail.com
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website" style="border-bottom: 1px dashed #fff; padding-bottom: 10px; margin-bottom: 8px">
                                        <div class="inner">
                                            <div class="name_label" style="width: 30%;">
                                                <label for="name" style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    Website:
                                                </label>
                                            </div>
                                            <div class="label">
                                                <label style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    www.alicanodong@softearth.com
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="phone" style="border-bottom: 1px dashed #fff; padding-bottom: 10px; margin-bottom: 8px">
                                        <div class="inner">
                                            <div class="name_label" style="width: 30%;">
                                                <label for="name" style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    Phone:
                                                </label>
                                            </div>
                                            <div class="label">
                                                <label style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold">
                                                    +256-777-338787/+256-756-871687
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="look">
            <div class="look_service">
                <label>
                    <b style="font-size:large;color: aliceblue">Have a look at my Projects</b>
                </label><br/>
                <label style="font-size: smaller;color: aliceblue">controllers operations and transmission</label>
            </div>
        </div>
        <div class="middle">
                <div class="one">
                    <div class="image"><img src="../images/Registration page.jpg" alt="" srcset=""></div>
                    <div class="label">
                        <label>
                            <b>Description:</b><br>
                            Write to me a brief abstract about your project 
                            and I will prepare for you a proposal within a period
                        </label>
                    </div>
                </div>
                <div class="two">
                    <div class="image">
                        <img src="../images/Contact_us_page.png" alt="" srcset="">
                    </div>
                    <div class="label">
                        <label>
                            <b>Description:</b><br>
                            Write to me a brief abstract about your project 
                            and I will  prepare for you a proposal within a period
                        </label>
                    </div>
                </div>
                <div class="three">
                    <div class="image">
                        <img src="../images/LoanCalculator.png" alt="" srcset="">
                    </div>
                    <div class="label">
                        <label>
                            <b>Description:</b><br>
                            Write to me a brief abstract about your project 
                            and I will prepare for you a proposal within a period
                        </label>
                    </div>
                </div>
        </div>
        <div class="horizontal"></div>
        <div class="bottom">
            <div class="one">
                <label>
                    <b style="text-decoration: underline">Contributers</b><br>
                    <i>
                        Write to me a brief abstract about your project 
                        and I will <br> prepare for you a proposal within a period of 24 hours
                    </i>
                </label>
            </div>
            <div class="two">
                <label>
                    <b style="text-decoration: underline">Contributers</b><br>
                    <i>
                        Write to me a brief abstract about your project 
                        and I will <br> prepare for you a proposal within a period of 24 hours
                    </i>
                </label>
            </div>
            <div class="three">
                <label>
                    <b style="text-decoration: underline">Contributers</b><br>
                    <i>
                        Write to me a brief abstract about your project 
                        and I will <br> prepare for you a proposal within a period of 24 hours
                    </i>
                </label>
            </div>
        </div>
        <div class="horizontal"></div>
        <div class="last">
            <div class="member_of">
                <div class="member">
                    <label>
                        <i>
                            Member of
                        </i>
                    </label>
                </div>
                <div class="label_member">
                    <ul>
                        <li>International Electrical and Electronics Engineers</li>
                        <li>Pa Maa mak kwan</li>
                        <li>Goethe Zentrum Community</li>
                        <li>Kyambogo University Alumini Committe</li>
                        <li>Naume Kinderstiftung Gulu</li>
                        <li>Soft Earth Development Team</li>
                    </ul>
                </div>
            </div>
            <div class="blog">
                <div class="blog_title">
                    <label>
                        <i>
                            Blog
                        </i>
                    </label>
                </div>
                <div class="blog_label">
                    <ul>
                        <li>Article on Education</li>
                        <li>Society involvement on National Decision</li>
                        <li>Article on smart Grid</li>
                        <li>Research on Power Automation</li>
                    </ul>
                </div>
            </div>
            <div class="favourites">
                <div class="favourites_title">
                    <label>
                        <i>
                            Favourites
                        </i>
                    </label>
                </div>
                <div class="favourites_label">
                    <ul>
                        <li>Playing and Watching Soccer</li>
                        <li>Listenning to Hip-hop Music</li>
                        <li>Programming</li>
                        <li>Community Service</li>
                        <li>Social Gatherings</li>
                        <li>Reading</li>
                        <li>Swimming</li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="footer">
        <footer>
            <div class="label">
                <label>
                    Copyright www.alicanodong@softearth.com-All Rights Reserved.||
                     <b style="color:#EA5181">Alican Web Resource.com </b>
                </label>
            </div>
            <div class="image"></div>
            <div class="my_life">
                <div class="upper">
                    MY LIFE
                </div>
                <div class="lower">
                    PREVIEW OF WHAT I DO
                </div>
            </div>
        </footer>
    </div>
    </div>
</body>
</html>