<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skills</title>
    <link rel="stylesheet" href="../styles/skills.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="home">
                <div class="upper_content">
                    <div class="upper_left">
                            <div class="name">
                                    <label for="name">My Skills</label>
                            </div>
                            <div class="infinite">
                                <label for="infinite">
                                    I have infinite skills in software development.. <br>
                                    <b style="color: #EA5181">Trust Me</b>
                                </label>
                            </div>
                            <div class="tools">
                                <div class="mouse">
                                    <img src="../images/mouse.png" alt="google+">
                                </div>
                                <div class="multimeter">
                                    <img src="../images/multimeter.png" alt="">
                                </div>
                                <div class="pliers">
                                    <img src="../images/pliers.png" alt="">
                                </div>
                                <div class="screw">
                                    <img src="../images/screw.jpeg" alt="">
                                </div>
                            </div>
                    </div>
                    <div class="menu">
                        <div class="drop_down">
                            <button class="drop">Menu</button>
                            <div class="dropdown-content">
                                <a href="about_me.html">About</a>
                                <a href="Profile.html">Home</a>
                                <a href="experience.html">Experience</a>
                                <a href="">Projects</a>
                                <a href="contact_me.html">Contact me</a>
                                <a href="gallary.html">Gallary</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="mySkillsLabel">
        </div>
        <div class="personal_skills">
            <div class="left">
                <div class="image_label">
                    <div class="one">
                        <div class="image">
                            <label for="images">
                                <img src="../images/skills.jpg" alt="skills_image">
                            </label>
                        </div>
                        <div class="two">
                            <label>
                                Please Read Through
                            </label>
                        </div>
                    </div>
                    <div class="three">
                        <label for="skills_information">
                                Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                It has roots in a piece of classical Latin literature from 45 BC, 
                                making it over 2000 years old. Richard McClintock, a Latin professor 
                                at Hampden-Sydney College in Virginia, looked up one of the more obscure 
                                Latin words, consectetur, from a Lorem Ipsum passage, and going through 
                                the cites of the word in classical literature, discovered the undoubtable source. 
                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum 
                                et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                                This book is a treatise on the theory of ethics, very popular during the 
                                Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                                comes from a line in section 1.10.32.
                        </label>
                    </div>
                    <div class="recommendation">
                        <div class="label">
                            <label>
                                Any Recommendation
                            </label>
                        </div>
                        <textarea name="recommendation" cols="25" rows="5"></textarea>
                        <input type="button" value="Submit">
                    </div>
                </div>
                <div class="images">
                    <div class="computer_photo">
                        <img src="../images/skills2.jpeg" alt="">
                    </div>
                    <div class="telecommunication">
                        <img src="../images/telcoeng_680x320.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="software">
                    <label for="software_skills">
                        Software Skills
                    </label><br>
                    <label for="html" class="label_html">
                        HTML5
                    </label>
                    <div class="html">
                        <div class="innerHtml">
                            <label>
                                90% 
                            </label>
                        </div>
                    </div>
                    <label for="css" class="label_css">
                        CSS
                    </label>
                    <div class="css">
                        <div class="innerCss">
                            <label>
                                85%
                            </label>
                        </div>
                    </div>
                    <label for="js" class="label_javaScript">
                        JavaScript
                    </label>
                    <div class="javaScript">
                        <div class="innerJavaScript">
                            <label>
                                75%
                            </label>
                        </div>
                    </div>
                    <label for="react.JS" class="react">
                        React JS
                    </label>
                    <div class="reactJS">
                        <div class="innerReact">
                            <label>
                                60%
                            </label>
                        </div>
                    </div>
                    <label for="node" class="node">
                        Node JS
                    </label>
                    <div class="nodeJS">
                        <div class="innerNode">
                            <label>
                                69%
                            </label>
                        </div>
                    </div>
                </div>
                <div class="engineering">
                    <label for="engineering">
                        Engineering Skills
                    </label>
                    <br>
                    <label for="networking" class="label_networking">
                        Networking and Routing
                    </label>
                    <div class="networking">
                        <div class="innerNetworking">
                            <label>
                                60%
                            </label>
                        </div>
                    </div>
                    <label for="transmission" class="label_transmission">
                        Transmission
                    </label>
                    <div class="tranmission">
                        <div class="innerTranmission">
                            <label>
                                90%
                            </label>
                        </div>
                    </div>
                    <label for="electronics" class="label_electronics">
                        Electronics
                    </label>
                    <div class="electronics">
                        <div class="innerElectronics">
                            <label>
                                80%
                            </label>
                        </div>
                    </div>
                    <label for="electrical" class="label_electrical">
                        Electrical and Power
                    </label>
                    <div class="electrical">
                        <div class="innerElectrical">
                            <label>
                                85%
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
</html>