<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skills</title>
    <link rel="stylesheet" href="../styles/skills.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="home">
                <div class="upper_content">
                    <div class="name">
                            <label for="name">Alican Odong</label>
                    </div>
                    <div class="home">
                        <a href="#">Home</a>
                    </div>
                    <div class="about_me">
                        <a href="#">About Me</a>
                    </div>
                    <div class="skills">
                        <a href="#">skills</a>
                    </div>
                    <div class="experience">
                        <a href="#">Experience</a>
                    </div>
                    <div class="projects">
                        <a href="#">Projects</a>
                    </div>
                    <div class="gallary">
                        <a href="#">Gallary</a>
                    </div>
                    <div class="portFolio">
                        <a href="#">Port Folio</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="mySkillsLabel">
            <label for="skills">MY SKILLS</label> 
        </div>
        <div class="personal_skills">
            <div class="left">
                <div class="image_label">
                    <label for="images"></label>
                </div>
                <div class="images">
                    <div class="computer_photo">
                        <img src="../images/skills2.jpeg" alt="" srcset="">
                    </div>
                    <div class="telecommunication">
                        <img src="../images/telcoeng_680x320.jpg" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="software">
                    <label for="software_skills">
                        Software Skills
                    </label><br>
                    <label for="html" class="label_html">
                        HTML5
                    </label>
                    <div class="html">
                        <div class="innerHtml"></div>
                    </div>
                    <label for="css" class="label_css">
                        CSS
                    </label>
                    <div class="css">
                        <div class="innerCss"></div>
                    </div>
                    <label for="js" class="label_javaScript">
                        JavaScript
                    </label>
                    <div class="javaScript">
                        <div class="innerJavaScript"></div>
                    </div>
                    <label for="react.JS" class="react">
                        React JS
                    </label>
                    <div class="reactJS">
                        <div class="innerReact"></div>
                    </div>
                    <label for="node" class="node">
                        Node JS
                    </label>
                    <div class="nodeJS">
                        <div class="innerNode"></div>
                    </div>
                </div>
                <div class="engineering">
                    <label for="engineering">
                        Engineering Skills
                    </label>
                    <br>
                    <label for="networking" class="label_networking">
                        Networking and Routing
                    </label>
                    <div class="networking">
                        <div class="innerNetworking"></div>
                    </div>
                    <label for="transmission" class="label_transmission">
                        Transmission
                    </label>
                    <div class="tranmission">
                        <div class="innerTranmission"></div>
                    </div>
                    <label for="electronics" class="label_electronics">
                        Electronics
                    </label>
                    <div class="electronics">
                        <div class="innerElectronics"></div>
                    </div>
                    <label for="electrical" class="label_electrical">
                        Electrical and Power
                    </label>
                    <div class="electrical">
                        <div class="innerElectrical"></div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
</html>