
body {
    padding-top: 0px;
    /* background-color: #e6e6e6; */
    
}
#hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #000;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
   
}
#menu {
    margin-top: 10px;
    background-color: white;
    border: none;
}

/*
# Site Branding
--------------------------------*/
.site-title {
    font-size: 50px;
    padding-top: 0px;
    font-family: 'Kaushan Script';
    
}
.site-description {
    width: 284px;
    margin: -16px 0 0;
    font-size: 8px;
    letter-spacing: 0.26rem;
    color: #9d9d9d;
    text-transform: uppercase;
    text-align: right;
    font-family: 'Kaushan Script';
}

.carousel-inner img {
     width: 100%; /* Set width to 100% */
     margin: auto;
     max-height: 550px
 }
 
 /*
# Youtube Subscribe
--------------------------------*/
.yt-subscribe {
    position: absolute;
    right: 40px;
    /* bottom: -260px; */
    z-index: 100;
    width: calc(100% - 30px);
    text-align: center;
}

.yt-subscribe img {
    width: 160px;
    max-width: 75%;
}

.yt-subscribe h3 {
    padding: 0 15px;
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Kaushan Script';
    color: #2f2f2f;
}

.yt-subscribe p {
    padding: 0 15px;
    padding-bottom: 50px;
    margin-top: 15px;
    font-size: 12px;
    color: #afafaf;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

@media screen and (min-width: 768px){
    .yt-subscribe {
        bottom: -250px;
    }

    .yt-subscribe img {
        width: auto;
    }
}

@media screen and (min-width: 992px){
    .yt-subscribe {
        bottom: -200px;
        text-align: center;
    }
}

/* 
About style */
#about {
    margin-top: 50px;
    text-align: center;
    letter-spacing: 0.15rem;
    padding-bottom: 30px;
}

/* 
Skills page */
#skills {
    padding-top: 25px;
    background-color: #e6e6e6;
    
}
#social-media {
    text-align: center;
    padding-top: 60px;
   
}
#top_1 {
  text-align: right;
  padding-bottom: 15px;
}
/* 
references page */
#references {
    padding-top: 15px;
    background-color: #e6e6e6;
    margin-bottom: 35px;
}
.thumbnail {
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 80%;
    height: 80%;
    margin-bottom: 35px;
}
#top_2 {
    text-align: right;
    padding-top: 55px;
}
/* 
projects page */
#projects {
    padding-top: 35px;
    letter-spacing: 0.15rem;
    
}
#projects p {
    font-size: 18px;

}
/* 
contact page */
#contactme {
    padding-top: 80px;
    margin-bottom: 50px;
}
#me {
    text-align: center;
    padding-top: 40px;
    font-size: 17px;
    letter-spacing: 0.08rem;
}
#form {
    padding-top: 50px;
}
/* 
footer section*/
#footer {
    text-align: center;
    padding-top:20px; 
    background-color: #e6e6e6;
}
