/*
# Site Branding
--------------------------------*/
.site-branding {
    padding: 40px 0;
}

.site-title {
    font-size: 72px;
    
}
.site-description {
    width: 284px;
    margin: -5px 0 0;
    font-size: 10px;
    letter-spacing: 0.26rem;
    color: #9d9d9d;
    text-transform: uppercase;
    text-align: right;
}

